<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <link rel="stylesheet" type="text/css" href="/ABEPOMI/template/template.css" />
        <title>ABEPOMI - Alteração de Senha</title>
    </h:head>
    <h:body>
        <div id="tela">
            <div id="topo">
            </div>
            <div id="divLogin">
                <fieldset class="interno">
                    <legend>Alteração de Senha de Acesso</legend>
                    <h:form id="principal">
                        <label id="llogin" 
                               for="login">Login:*</label>
                        <br />
                        <h:inputText id="login"
                                     value="#{userBean.user.login}"
                                     readonly="true"
                                     styleClass="in160"/>
                        <br />
                        <h:message id="mlogin" 
                                   for="login"
                                   styleClass="errorMessage" />

                        <label id="lsenha" for="senha">Nova Senha:*</label> <br />
                        <h:inputSecret id="senha"
                                       value="#{userBean.user.senha}"
                                       required="true"
                                       validatorMessage="A senha deve ter no mínimo 6 e máximo 10 digitos!"
                                       requiredMessage="Digite a senha!"
                                       styleClass="in160" >
                            <f:validateLength minimum="6"
                                              maximum="10" />
                        </h:inputSecret>
                        <br />
                        <h:message id="msenha" 
                                   for="senha"
                                   styleClass="errorMessage" />

                        <label id="lconfirm" for="confirm">Confirmar Senha:*</label> <br />
                        <h:inputSecret id="confirm"
                                       value="#{userBean.senha}"
                                       required="true"
                                       requiredMessage="Repita a senha digitada!"
                                       styleClass="in160"/>
                        <br />
                        <h:message id="mconfirm" 
                                   for="confirm"
                                   styleClass="errorMessage" />
                        
                        <h:messages for="principal" layout="list" styleClass="errorMessage" />

                        <h:commandLink id="entrar" 
                                       action="#{userBean.alterarSenha}"
                                       value="Alterar" />
                        <br />
                    </h:form>
                </fieldset>
            </div>
            <div id="rodape">
                <br />
                <p>Este site é melhor visualizado no Mozilla Firefox.</p>
                <p><strong>Construído por Julianno Martins Silva.</strong></p>
            </div>
        </div>
    </h:body>
</html>

