<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">



    <ui:define name="titulo">ABEPOMI - Gerar Boletos</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Gerar Boletos</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastro">

                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados</legend>
                        <label id="lref" for="ref">Referência:*</label>
                        <h:selectOneMenu id="ref" value="#{fatBean.referencia}" required="true" requiredMessage="Selecione uma referência!" >
                            <f:converter converterId="RefConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{fatBean.todasReferencias}" var="referencia" itemLabel="#{referencia.ref}" />
                        </h:selectOneMenu>
                        <h:message for="ref" styleClass="errorMessage" />
                        <br />
                        <label id="lvenc" for="venc">Déb. Aut.?</label>
                        <h:selectBooleanCheckbox id="nDebitados" value="#{fatBean.naoDebitados}" />
                        <br />
                        <label id="lvenc" for="venc">Vencimento:*</label>
                        <h:inputText id="venc"
                                     value="#{fatBean.vencimento}"
                                     required="true"
                                     requiredMessage="Informe a data de vencimento!"
                                     alt="date"
                                     styleClass="in160">
                            <f:converter converterId="DataConverter"/>
                        </h:inputText>
                        <h:message id="mvenc" for="venc" styleClass="errorMessage" />
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Gerar Boletos" action="#{fatBean.gerarBoletos}"/>
                    <h:commandButton id="btnsair" value="Sair" action="index" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

