<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Emissão de Boleto
    </ui:define>

    <ui:define name="divTitulo">
        Emissão de Boleto
    </ui:define>

    <ui:define name="divCentro">
        <h:form id="formCentral" >
            <fieldset id="geral" class="geral">
                <fieldset id="interno" class="interno">
                    <legend>Dados</legend>
                    <label id="lass" for="ass">Associado:*</label>
                    <h:selectOneMenu id="ass"
                                     required="true"
                                     requiredMessage="Selecione um associado!"
                                     value="#{cobraMB.associado}">
                        <f:converter converterId="AssConverter" />
                        <f:selectItem itemLabel="Selecione" />
                        <f:selectItems value="#{cobraMB.associadosBoletos}"
                                       var="ass"
                                       itemLabel="#{ass.nome}" />
                    </h:selectOneMenu>
                    <h:message id="mass" for="ass" styleClass="errorMessage" />
                    <br />
                    <label id="lref" for="ref">Referência:*</label>
                    <h:selectOneMenu id="ref"
                                     required="true"
                                     requiredMessage="Selecione uma refência!"
                                     value="#{cobraMB.referencia}">
                        <f:converter converterId="RefConverter" />
                        <f:selectItem itemLabel="Selecione" />
                        <f:selectItems value="#{cobraMB.referencias}"
                                       var="ref"
                                       itemLabel="#{ref.ref}" />
                    </h:selectOneMenu>
                    <h:message id="mref" for="ref" styleClass="errorMessage" />
                    <br />
                    <h:commandButton action="#{cobraMB.gerarBoleto}"
                                     id="btnBoleto"
                                     value="Gerar Boleto" />

                </fieldset>
            </fieldset>
        </h:form>
    </ui:define>

</ui:composition>
