<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Usuários
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Usuários
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastro" >

                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados do Usuário</legend>
                        <label id="luser" for="user">Login:*</label>
                        <h:inputText id="user" value="#{userBean.novoUser.login}"
                                     required="true" requiredMessage="Digite o login!"
                                     validatorMessage="O login deve ter no mínimo 6 e no máximo 20 caracteres!"
                                     onchange="this.value = this.value.toLowerCase();"
                                     readonly="#{userBean.alterando}">
                            <f:validateLength maximum="20" minimum="6"/>
                        </h:inputText>
                        <h:message id="muser" for="user" styleClass="errorMessage" />
                        <label id="lnome" for="nome">Nome:*</label>
                        <h:inputText id="nome" value="#{userBean.novoUser.nome}"
                                     required="true" requiredMessage="Digite o Nome!"
                                     validatorMessage="O login deve ter no máximo 50 caracteres!"
                                     onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mnome" for="nome" styleClass="errorMessage" />
                        <br />
                    </fieldset>
                    <fieldset class ="interno" >
                        <legend>Páginas Autorizadas</legend>
                        <h:selectManyCheckbox id="autorizadas" value="#{userBean.paginasUser}" 
                                              layout="pageDirection"
                                              styleClass="paginasAutorizadas">
                            <f:selectItems id="paginas" 
                                           value="#{pageBean.paginasSeguras}"
                                           var="page"
                                           itemLabel="#{page.descricao}"
                                           itemValue="#{page}" >
                            </f:selectItems>
                            <f:converter converterId="PageConverter"  />
                        </h:selectManyCheckbox>
                    </fieldset>
                    <h:commandButton id="salvar" action="#{userBean.salvar}" value="Salvar" />
                    <h:commandButton id="pesquisar" action="pesquisaUsuario" value="Pesquisar" immediate="true"/>
                    <h:commandButton id="limpar" action="#{userBean.limpar}" value="Limpar" immediate="true"/>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
