<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    

    <ui:define name="titulo">ABEPOMI - Cadastro Associação</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro da Associação</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastro">
                
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados</legend>
                        <label id="lnome" for="inome">Razão Social:*</label>
                        <h:inputText id="inome" value="#{asoBean.associacao.nome}" required="true" requiredMessage="Digite Razão Social!" onchange="this.value = this.value.toUpperCase()">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mnome" for="inome" styleClass="errorMessage" />
                        <br />
                        <label id="lcnpj" for="icnpj">CNPJ:*</label>
                        <h:inputText id="icnpj" value="#{asoBean.associacao.cnpj}" required="true" requiredMessage="Digite o CNPJ!" alt="cnpj">
                            <f:converter converterId="RetiraMascaraString" />
                            <f:validator validatorId="ValidaCpfCnpj" />
                        </h:inputText>
                        <h:message id="mcnpj" for="icnpj" styleClass="errorMessage" />
                        <br />
                        <label id="lie" for="iie">Inscrição Estadual:*</label> <br />
                        <h:inputText id="iie" value="#{asoBean.associacao.ie}" required="true" requiredMessage="Digite a Inscrição!">
                            <f:validateLength maximum="14" />
                        </h:inputText>
                        <h:message id="mie" for="iie" styleClass="errorMessage"/>
                        <br />
                        <label id="luc" for="iuc">Base de Contribuição:*</label><br />
                        <h:inputText id="iuc" value="#{asoBean.associacao.unContribuicao}" required="true" requiredMessage="Digite o valor da U.C.!" styleClass="in160" alt="decimal">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="muc" for="iuc" styleClass="errorClass" />
                        <br />
                        <label id="lmult" for="mult">Multiplicador da Base:*</label><br />
                        <h:inputText id="mult" value="#{asoBean.associacao.multContribuicao}" required="true" requiredMessage="Digite do multiplicador da U.C.!" styleClass="in160" alt="decimal">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="mmult" for="mult" styleClass="errorClass" />
                        <br />
                        <label id="lcontato" for="icontato">Contato:*</label>
                        <h:inputText id="icontato" value="#{asoBean.associacao.contato}" required="true" requiredMessage="Digite o Nome do Contato!" onchange="this.value = this.value.toUpperCase()">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mcontato" for="icontato" styleClass="errorMessage" />
                        <br />
                        <label id="ltelefone" for="itelefone">Telefone:*</label>
                        <h:inputText id="itelefone" value="#{asoBean.associacao.telefone}" required="true" requiredMessage="Digite o Telefone p/ contato!" styleClass="in160" alt="phone" >
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <h:message id="mtelefone" for="itelefone" styleClass="errorMessage" />
                    </fieldset>
                    <fieldset class="interno">
                        <legend>Endereço</legend>
                        <label id="llogradouro" for="ilogradouro">Logradouro:*</label>
                        <h:inputText id="ilogradouro" value="#{asoBean.associacao.endereco.logradouro}" required="true" requiredMessage="Digite o Logradouro!" onchange="this.value = this.value.toUpperCase()">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mlogradouro" for="ilogradouro" styleClass="errorMessage" />
                        <br />
                        <label id="lcidade" for="icidade">Cidade:*</label>
                        <h:inputText id="icidade" value="#{asoBean.associacao.endereco.cidade}" required="true" requiredMessage="Digite a Cidade" onchange="this.value = this.value.toUpperCase()">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mcidade" for="icidade" styleClass="errorMessage" />
                        <br />
                        <label id="luf" for="iuf">Estado:*</label>
                        <h:selectOneMenu id="iuf" value="#{asoBean.associacao.endereco.uf}" required="true" requiredMessage="Selecione um Estado!">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{asoBean.estados}" />
                        </h:selectOneMenu>
                        <br />
                        <h:message id="muf" for="iuf" />
                        <label id="lcep" for="icep">CEP:*</label>
                        <h:inputText id="icep" value="#{asoBean.associacao.endereco.cep}" required="true" requiredMessage="Digite o CEP!" styleClass="in160" alt="cep">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <h:message id="mcep" for="icep" styleClass="errorMessage"/>
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Salvar" action="#{asoBean.salvar}"/>
                    <h:commandButton id="btnsair" value="Sair" action="index" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

