<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">



    <ui:define name="titulo">ABEPOMI - Cadastro Débito Automático</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro Convênio de Débito Automático</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <fieldset class="geral">
                <h:form id="cadastro">
                    <f:subview id="ncadastrada" rendered="#{!asoBean.asoCadastrada}">
                        <h:commandLink id="cadastraAso" action="cadastroAssociacao" value="Cadastrar Associação" />
                    </f:subview>
                    <f:subview id="cadastrada" rendered="#{asoBean.asoCadastrada}">
                        <fieldset class="interno">
                            <legend>Dados do Convênio</legend>
                            <label id="lcodigo" for="codigo">Código:*</label>
                            <h:inputText id="codigo" value="#{asoBean.convDA.convenio}" required="true" requiredMessage="Digite o Código do Convênio!">
                                <f:validateLength for="codigo" maximum="20" />
                            </h:inputText>
                            <h:message id="mcodigo" for="codigo" styleClass="errorMessage" />
                            <br/>
                            <label id="lbanco" for="banco">Banco:*</label>
                            <h:inputText id="banco" value="#{asoBean.convDA.bancoCod}" required="true" requiredMessage="Digite o Código do Banco!" alt="integer" styleClass="in100">
                                <f:validateLength for="banco" minimum="3" maximum="3" />
                            </h:inputText>
                            <h:message for="banco" id="mbanco" styleClass="errorClass" />
                            <br />
                            <label id="lnome" for="nome">Nome do Banco:*</label> <br />
                            <h:inputText id="nome" value="#{asoBean.convDA.bancoNome}" required="true" requiredMessage="Digite o Nome do Banco!" onchange="this.value = this.value.toUpperCase();">
                                <f:validateLength for="nome" maximum="20" />
                            </h:inputText>
                            <h:message id="mnome" for="nome" styleClass="errorMessage" />
                            <br />
                            <label id="ldesc" for="descricao">Descrição:</label>
                            <h:inputText id="desc" value="#{asoBean.convDA.descricao}" onchange="this.value = this.value.toUpperCase();" >
                                <f:validateLength maximum="100" />
                            </h:inputText>
                            <h:message for="desc" id="mdesc" styleClass="errorMessage" />
                            <br />
                            <h:commandButton id="salvar" action="#{asoBean.salvarDA}" value="Salvar" />
                        </fieldset>
                    </f:subview>
                </h:form>
            </fieldset>
        </f:view>
    </ui:define>
</ui:composition>



