<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <ui:define name="titulo">ABEPOMI - Lançamentos Extras</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Lançamentos Extras</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formExtras" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados</legend>
                        <label id="lref" for="ref">Referência:</label>
                        <h:selectOneMenu id="ref" value="#{fatBean.extra.referencia}" required="true" requiredMessage="Selecione uma referência!" >
                            <f:converter converterId="RefConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{fatBean.referencias}" var="referencia" itemLabel="#{referencia.ref}" />
                        </h:selectOneMenu>
                        <h:message for="ref" styleClass="errorMessage" />
                        <br />
                        <label id="lasso" for="asso">Associado:</label>
                        <h:inputText id="asso" value="#{associadoBean.associado.nome}" readonly="true" required="true" requiredMessage="Selecione um associado!" />
                        <h:message for="asso" styleClass="errorMessage" />
                        <h:commandLink value="Selecionar" action="#{associadoBean.pesquisarAssociado}" immediate="true">
                            <f:setPropertyActionListener value="extras" target="#{associadoBean.fromId}"/>
                        </h:commandLink>
                        <br />
                        <label id="ldesc" for="desc">Descrição:</label>
                        <h:inputText id="desc" value="#{fatBean.extra.descricao}" maxlength="50" required="true" 
                                     requiredMessage="Digite a descrição do lançamento!" onchange="this.value = this.value.toUpperCase()"/>
                        <h:message id="mdesc" for="desc" styleClass="errorMessage" />
                        <br />
                        <label id="lvalor" for="valor">Valor:</label>
                        <h:inputText id="valor" value="#{fatBean.extra.valor}" required="true" requiredMessage="Digite o valor do lançamento!" styleClass="in160" alt="decimal">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="mvalor" for="valor" styleClass="errorClass" />
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Salvar" action="#{fatBean.salvarExtra}">
                        <f:setPropertyActionListener target="#{fatBean.extra.associado}" value="#{associadoBean.associado}" />
                    </h:commandButton>
                    <h:commandButton id="btnsair" value="Sair" action="index" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>