<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:define name="titulo">ABEPOMI - Gerar Remessa</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Gerar Remessa</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <fieldset class="geral">
                <h:form id="cadastro">
                    <f:subview id="ncadastrada" rendered="#{!asoBean.asoCadastrada}">
                        <h:commandLink id="cadastraAso" action="cadastroAssociacao" value="Cadastrar Associação" />
                    </f:subview>
                    <f:subview id="cadastrada" rendered="#{asoBean.asoCadastrada}">
                        <fieldset class="interno">
                            <legend>Remessa</legend>
                            <label id="lref" for="ref">Referência:*</label>
                            <h:selectOneMenu id="ref" value="#{asoBean.referencia}" required="true" requiredMessage="Selecione uma referência!">
                                <f:selectItem itemLabel="Selecione" />
                                <f:selectItems value="#{asoBean.referencias}" var="referencia" itemLabel="#{referencia.ref}" />
                                <f:converter converterId="RefConverter" />
                            </h:selectOneMenu>
                            <h:message id="mref" for="ref" styleClass="errorMessage" />
                            <br />
                            <label id="ldtvenc">Vencimento:*</label>
                            <h:inputText id="dtvenc" value="#{asoBean.vencimento}" alt="date" styleClass="in160" required="true" requiredMessage="Digite a data de vencimento!">
                                <f:converter converterId="DataConverter"/>
                            </h:inputText>
                            <h:message id="mdtvenc" for="dtvenc" styleClass="errorMessage" />
                            <br />
                            <h:commandLink action="#{asoBean.configuraRemessa}" value="Gerar Remessa" />
                        </fieldset>
                    </f:subview>
                </h:form>
            </fieldset>
        </f:view>
    </ui:define>
</ui:composition>