<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Pesquisa de Usuários
    </ui:define>

    <ui:define name="divTitulo">
        Pesquisa de Usuários
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formPesquisa" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Pesquisar</legend>
                        <label id="lfiltrobusca" for="filtrobusca">Digite o login:</label>
                        <br />
                        <h:inputText id="ibuscar" value="#{userBean.busca}"/>
                        <h:commandButton id="btnbuscar" action="#{userBean.buscar}" value="Buscar" />
                        <h:commandButton id="btntodos" action="#{userBean.buscar}" value="Todos">
                            <f:setPropertyActionListener target="#{userBean.busca}" value="" />
                        </h:commandButton>
                    </fieldset>
                    <f:subview id="tabelavazia" rendered="#{userBean.listaUsuariosVazia}">
                        <fieldset class="interno">
                            <h:dataTable id="dtpesquisa" value="#{userBean.usuarios}" var="usuario">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerLogin" value="Login:" />
                                    </f:facet>
                                    <h:outputText id="id" value="#{usuario.login}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerNome" value="Nome:" />
                                    </f:facet>
                                    <h:outputText id="nome" value="#{usuario.nome}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerSelecionar" value="Selecionar:" />
                                    </f:facet>
                                    <h:commandLink action="#{userBean.selecionar}" value="Selecione">
                                        <f:setPropertyActionListener target="#{userBean.novoUser}" value="#{usuario}" />
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>

                        </fieldset>
                    </f:subview>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
