<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">



    <ui:define name="titulo">ABEPOMI - Cadastro Referência</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro de Referência de Faturamento</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastro">

                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados</legend>
                        <label id="lref" for="ref">Referência:</label>
                        <h:inputText id="ref" value="#{fatBean.referencia.ref}" readonly="true" alt="99/9999">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <br />
                        <label id="ldtgeracao" for="dtgeracao">Data da Geração:</label><br />
                        <h:inputText id="dtgeracao" value="#{fatBean.referencia.geracao}" readonly="true">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <br />                      
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Salvar" action="#{fatBean.salvarReferencia}"/>
                    <h:commandButton id="btnsair" value="Sair" action="index" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

