<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Relatório de Parcelamentos por Associado
    </ui:define>

    <ui:define name="divTitulo">
        Relatório de Parcelamentos por Associado
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form>
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados:</legend>
                        <label id="lAssociados" for="associados">Associado:*</label>
                        <h:selectOneMenu id="associados"
                                         value="#{cobraMB.associado}"
                                         required="true"
                                         requiredMessage="Selecione um Associado!">
                            <f:converter converterId="AssConverter" />
                            <f:selectItem id="item1"
                                          itemLabel="Selecione" />
                            <f:selectItems id="items"
                                           value="#{cobraMB.associadosParcelamentos}"
                                           var="ass"
                                           itemLabel="#{ass.nome}"
                                           itemValue="#{cobraMB.associado}" />
                        </h:selectOneMenu>
                        <h:message id="mAssociados" for="associados" styleClass="errorMessage" />
                        <br />
                        <h:commandButton id="gerarRelatorio"
                                         value="Gerar"
                                         action="#{cobraMB.relParcelamentosAssociados}" />

                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
