<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <ui:define name="titulo">ABEPOMI - Referência</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo"><h:outputText value="#{associadoBean.relNome}" /></ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formReferencias" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Selecione</legend>
                        <label id="lref" for="ref">Referência:</label>
                        <h:selectOneMenu id="ref" value="#{associadoBean.referencia}" required="true" requiredMessage="Selecione uma referência!" >
                            <f:converter converterId="RefConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{fatBean.todasReferencias}" var="referencia" itemLabel="#{referencia.ref}" />
                        </h:selectOneMenu>
                        <h:message for="ref" styleClass="errorMessage" />
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Gerar" action="#{associadoBean.relatorios}"/>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>





