<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Tratar Débitos
    </ui:define>

    <ui:define name="divTitulo">
        Tratar Débitos
    </ui:define>

    <ui:define name="divCentro">
        <fieldset id="geral" class="geral">
            <fieldset id="interno" class="interno">
                <h:form id="formPrincipal">
                    <legend>Dados</legend>
                    <label id="lassociado" for="associado">Associado:*</label>
                    <h:selectOneMenu id="associado"
                                     value="#{cobraMB.associado}"
                                     required="true"
                                     requiredMessage="Selecione um associado!"
                                     valueChangeListener="#{cobraMB.carregarTitulosAssociados}"
                                     immediate="true">
                        <f:ajax event="change" execute="@this" render="@form" />
                        <f:converter converterId="AssConverter" />
                        <f:selectItem itemLabel="Selecione" />
                        <f:selectItems value="#{cobraMB.associados}"
                                       var="assSel"
                                       itemLabel="#{assSel.nome}" />
                    </h:selectOneMenu>
                    <h:message id="massociado" for="associado" styleClass="errorMessage" />
                    <br />
                    <h:dataTable id="titulos" value="#{cobraMB.titulos}" var="tit" styleClass="tabelaTitulos" >
                        <h:column>
                            <f:facet name="header">
                                <h:selectBooleanCheckbox value="#{cobraMB.selecionado}">
                                    <f:ajax execute="titulos"
                                            render="@form"
                                            event="change"
                                            listener="#{cobraMB.selecionarTodos}"/>
                                </h:selectBooleanCheckbox>
                            </f:facet>
                            <h:selectBooleanCheckbox value="#{cobraMB.checked[tit.id]}" >
                                <f:ajax execute="@this"
                                        event="change"
                                        listener="#{cobraMB.carregarTitulosSelecionados}"
                                        render="@form" />
                            </h:selectBooleanCheckbox>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Nosso Nro:
                            </f:facet>
                            <h:outputText value="#{tit.nossoNro}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Referência:
                            </f:facet>
                            <h:outputText value="#{tit.referencia.ref}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Emissão:
                            </f:facet>
                            <h:outputText value="#{tit.emissao}"  >
                                <f:converter converterId="DataConverter" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Vencimento:
                            </f:facet>
                            <h:outputText value="#{tit.vencimento}" >
                                <f:converter converterId="DataConverter" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Valor:
                            </f:facet>
                            <h:outputText value="#{tit.valor}" >
                                <f:convertNumber locale="pt_BR" type="currency" />
                            </h:outputText>
                        </h:column>
                    </h:dataTable>

                    <label>Baixa manual?</label>
                    <h:selectBooleanCheckbox id="habilitaPainel"
                                             value="#{cobraMB.baixaManual}" >
                        <f:ajax event="change" execute="@this" render="painel" />

                    </h:selectBooleanCheckbox>
                    <br /><br />
                    <h:panelGroup id="painel" >
                        <h:panelGroup id="divParcelamento" rendered="#{!cobraMB.baixaManual}">
                            <label id="lparcelas" for="parcelas">Parcelas:*</label>
                            <h:selectOneMenu id="parcelas" value="#{cobraMB.parcelas}" >
                                <f:selectItem itemLabel="1" itemValue="1" />
                                <f:selectItem itemLabel="2" itemValue="2" />
                                <f:selectItem itemLabel="3" itemValue="3" />
                                <f:selectItem itemLabel="4" itemValue="4" />
                                <f:selectItem itemLabel="5" itemValue="5" />
                                <f:selectItem itemLabel="6" itemValue="6" />
                                <f:selectItem itemLabel="7" itemValue="7" />
                                <f:selectItem itemLabel="8" itemValue="8" />
                                <f:selectItem itemLabel="9" itemValue="9" />
                                <f:selectItem itemLabel="10" itemValue="10" />
                            </h:selectOneMenu>
                            <br />
                            <label id="ltotaSelecionado" for="totalSelecionado">Total:*</label>
                            <h:inputText id="totalSelecionado"
                                         value="#{cobraMB.total}"
                                         styleClass="in100"
                                         style="text-align: right"
                                         validator="#{cobraMB.validarValor}"
                                         converterMessage="Valor inválido!"
                                         onchange="null">
                                <f:convertNumber type="currency" locale="pt_BR" />
                            </h:inputText>
                            <h:message id="mtotalSelecionado" for="totalSelecionado" styleClass="errorMessage" />
                            <br /><br />
                            <h:commandButton value="Gerar Parcelas"
                                             action="#{cobraMB.gerarParcelas}" />
                        </h:panelGroup>
                        <h:panelGroup id="divBaixa" rendered="#{cobraMB.baixaManual}">
                            <label id="lDtBaixa" for="dtBaixa">Data:*</label>
                            <h:inputText id="dtBaixa"
                                         value="#{cobraMB.dataBaixa}"
                                         required="true"
                                         requiredMessage="Digite a data da baixa!"
                                         styleClass="in160"
                                         alt="date">
                                <f:converter converterId="DataConverter" />
                            </h:inputText>
                            <h:message for="dtBaixa" id="mDtBaixa" styleClass="errorMessage" />
                            <br />
                            <label id="lMotivo" for="motivo">Motivo:*</label>
                            <h:selectOneMenu id="motivo" value="#{cobraMB.motivoBaixa}" >
                                <f:selectItem itemLabel="Baixa manual" itemValue="16" />
                                <f:selectItem itemLabel="Não Cobrável" itemValue="98" />
                                <f:selectItem itemLabel="Pago na associação" itemValue="97" />
                            </h:selectOneMenu>
                            <br />
                            <h:commandButton value="Baixar"
                                             action="#{cobraMB.baixarTitulos}" />
                        </h:panelGroup>
                    </h:panelGroup>
                </h:form>
            </fieldset>
        </fieldset>
    </ui:define>

</ui:composition>
