/*
  Document   : template
  Created on : 28/04/2010, 08:58:56
  Author     : Julianno
  Description:
      Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



body {
    background:#dcdcdc;
    font-family:verdana, arial, helvetica, sans-serif;
    /*    margin:5px 0px 5px 0px;*/
    /*    padding:0;*/
}

div#tela{
    width: 860px;
    margin: 0px auto;
    background-color: white;
    border: 1px solid silver;
}

div#topo{
    border: 0px;
    width: 860px;
    height: 160px;
    background: url("#{resource['img:topo.jpg']}") no-repeat center;
    /*    text-align: center;
        font-size: 1.5em;
        color:#fff;*/
}

div#topoAssociado{
    border: 0px;
    width: 860px;
    height: 230px;
    background: url("#{resource['img:header.jpg']}") no-repeat center;
    background-position: right;
    /*    text-align: center;
        font-size: 1.5em;
        color:#fff;*/
}

div#conteudo{
    border:none;
    background: #fff;
    margin-bottom: 10px;
}

div#menu{
    border:none;
    width:155px;
    background: #fff;
    float:left;
    margin-left: 5px;
}

div#rodape{
    width: 860px;
    height: 80px;
    /*float:left;*/
    background:#778899;
    /*border:none;*/
    font: italic 0.7em verdana;
    color:#dcdcdc;
    text-align:center;
}

div#meio{
    width:860px;
    height:25px;
    /*background:#fff;*/
    border-bottom:#000 1px solid;
}

input[type=text], input[type=password]{
    font-family: verdana;
    border: #ccc 1px solid;
}

/*#divLogin{
    width:860px;
    height: 140px;
    background-color: white;
    margin: auto;
}*/

label{
    width: 60px;
    font-size:0.8em;
    float: none;
}

ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    width: 150px;
    border-bottom:1px solid #000;
}

ul li a
{
    text-decoration: none;
    display:block;
    font-size:0.8em;
    color: #000;
    padding: 5px;
    border: 1px solid #000;
    border-bottom: 0px;
}

ul li
{
    position: relative;
}

li ul
{
    position: absolute;
    left: 149px;
    top:0;
    display:none;
}

li:hover ul ul{ display: none;}

li:hover ul, li li:hover ul
{
    display:block;
    background: #fff;
    color:#700;
}

ul li.menupai
{
    background: transparent url("#{resource['img:seta.gif']}") no-repeat center right;
}
ul li.menupai:hover {background-color: #000;}

ul li.menupai:hover>a {color: #fff;}

ul li a:hover{ color: #00f;}

.separador{
    width:860px;
    height:10px;
    background:#fff;
}

div#titulo{
    background: #fff;
    width: 858px;
    height: 24px;
    float:left;
    font: italic 1.1em verdana;
    color: black;
    text-align: center;
}

fieldset.geral{
    min-height: 450px;
}

fieldset.geral label{
    width:100px;
    float:left;
}

fieldset.interno legend{
    font-size:0.9em;
}

fieldset.interno{
    margin:5px;
}

select{
    border: 1px solid silver;
}

input[type=text]{
    width:450px;
}

input.in160{
    width:160px;
}

input.in100{
    width:100px;
}

.errorMessage{
    color:red;
    font-size: 0.7em;
    display: block;
}

.sucessMessage{
    color:green;
    font-size: 0.7em;
    display: block;
}

table.errorMessage, table.errorMessage>tbody>tr>td,
table.sucessMessage, table.sucessMessage>tbody>tr>td{
    font-size: 0.9em;
    font-weight: bolder;
    border:none;
}

table{
    font-size:0.6em;
    width:100%;
}

table, th, td{
    margin: 0px;
    padding: 0px;
    border: 1px solid silver;
}

.sexo{
    width: 180px;
    margin: 0px;
    padding: 0px;
    border:1px solid silver;
}

.sexo>tbody>tr>td>label{
    width: 60px;
    font-size: 1.3em;
}

.sexo>tbody>tr>td{
    border:none;
}

.sexo>tbody>tr>td>input[type=radio]{
    margin: 1px;
    margin-left:4px;
}

fieldset.interno a, fieldset.geral a{
    font-size:0.9em;
}

.informe{
    font-size: 0.7em;
    font-weight: bold;

}

table.paginasAutorizadas>tbody>tr>td>input{
    float:left;
}

table.paginasAutorizadas>tbody>tr>td>label{
    width:400px;
    font-size:1.0em;
}

.errorMessageAss>li{
width:300px;
font-size: 12px;
font-weight: bold;
color: red;
padding: 10px;
}

.botoesRelatorios{
width:300px;
}

input.botoesRelatorios{
    padding:6px;
    position: relative;
    left:30%;
}

.tabelaAss, .tabelaAss>tbody>tr>td{
border:none;
}

.tabelaTitulos, .tabelaTitulos>tbody>tr>td{
margin-top: 10px;
text-align: center;
}