<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag
Library 1.2//EN"
"http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_2.dtd">
<taglib>

    <!--
        Retirado do capítulo 13 do Core JavaServer Faces 2ª Edição de David Geary e Cay Horstmann

    <tlib-version>1.0</tlib-version>
    <jsp-version>2.0</jsp-version>
    <short-name>upload</short-name>
    <uri>http://tag.abepomi.org/upload</uri>
    <tag>
        <name>upload</name>
        <tag-class>org.abepomi.tag.UploadTag</tag-class>
        <attribute>
            <name>value</name>
            <deferred-value>
                <type>java.lang.Object</type>
            </deferred-value>
        </attribute>
        <attribute>
            <name>target</name>
            <deferred-value>
                <type>java.lang.String</type>
            </deferred-value>
        </attribute>
    </tag>
-->
</taglib>