<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>

        <h:outputStylesheet library="css" name="template.css" />
        <h:outputScript     library="js"  name="jquery-1.4.1.js" />
        <h:outputScript     library="js"  name="jquery.meio.mask.js" />

        <script type="text/javascript" >
          (function($){
            // call setMask function on the document.ready event
              $(function(){
                $('input:text').setMask();
              }
            );
          })(jQuery);
        </script>

        <ui:insert name="head"></ui:insert>
        <title><ui:insert name="titulo"></ui:insert></title>
    </h:head>
    <body>
        <div id="tela">
            <div id="topo">
                
            </div>
            <div id="meio">
                <div id="titulo">
                    <ui:insert name="divTitulo"></ui:insert>
                </div>
            </div>
            <div id="1" class="separador"></div>
            <div id="resolve">
                <div id="menu">
                    <f:view>
                        <h:form>
                            <ul>
                                <li><h:commandLink action="index">Home</h:commandLink></li>
                                <li class="menupai"><a href="#">Associação</a>
                                    <ul>
                                        <li><h:commandLink action="cadastroAssociacao">Cadastro</h:commandLink></li>
                                        <li><h:commandLink action="#{asoBean.cadastrarDA}">Débito Automático</h:commandLink></li>
                                        <li><h:commandLink action="cadastroUsuario">Cadastro de Usuários</h:commandLink></li>
                                    </ul>
                                </li>
                                <li class="menupai"><a href="#">Associados</a>
                                    <ul>
                                        <li><h:commandLink action="cadastroAssociado">Cadastro</h:commandLink></li>
                                        <li><h:commandLink action="#{associadoBean.cadastrarDependentes}">Depedentes</h:commandLink></li>
                                        <li><h:commandLink action="#{associadoBean.cadastrarVeiculos}">Veículos</h:commandLink></li>
                                        <li><h:commandLink action="#{associadoBean.cadastrarDA}">Débito Automático</h:commandLink></li>
                                    </ul>
                                </li>
                                <li class="menupai"><a href="#">Faturamento</a>
                                    <ul>
                                        <li><h:commandLink action="#{fatBean.gerarReferencia}">Gerar Referência</h:commandLink></li>
                                        <li><h:commandLink action="/associacao/boletos">Gerar Boletos</h:commandLink></li>
                                        <li><h:commandLink action="/associacao/boleto">Emitir Boleto</h:commandLink></li>
                                        <li><h:commandLink action="/associacao/tratar_debitos">Tratar Débitos</h:commandLink></li>
                                        <li><h:commandLink action="faturamento">Gerar Faturamento</h:commandLink></li>
                                        <li><h:commandLink action="extras">Lançamentos Extras</h:commandLink></li>
                                    </ul>
                                </li>
                                <li class="menupai"><a href="#">Arquivos</a>
                                    <ul>
                                        <li class="menupai"><a href="#">Cobrança</a>
                                            <ul>
                                                <li><h:commandLink action="/upload/uploadcobranca">Retorno</h:commandLink></li>
                                            </ul>
                                        </li>
                                        <li class="menupai"><a href="#">Débito Automático</a>
                                            <ul>
                                                <li><h:commandLink action="#{asoBean.configuraRemessaAtual}">Atualizar</h:commandLink></li>
                                                <li><h:commandLink action="#{asoBean.configuraRemessaIncentivo}">Incentivo</h:commandLink></li>
                                                <li><h:commandLink action="gerarRemessa">Remessa</h:commandLink></li>
                                                <li><h:commandLink action="updebaut">Retorno</h:commandLink></li>
                                            </ul>
                                        </li>
                                        <li class="menupai"><a href="#">Telefonia</a>
                                            <ul>
                                                <li><h:commandLink action="uptelefonia">Fatura</h:commandLink></li>
                                                <li><h:commandLink action="faturarTelefonia">Processar Fatura</h:commandLink></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menupai"><a href="#">Telefonia</a>
                                    <ul>
                                        <li><h:commandLink action="contratos">Contratos</h:commandLink></li>
                                        <li><h:commandLink action="linhas">Linhas</h:commandLink></li>
                                        <li><h:commandLink action="planos">Planos</h:commandLink></li>
                                        <li class="menupai"><a href="#">Associação</a>
                                            <ul>
                                                <li><h:commandLink action="associacaoLinhas">Entrega</h:commandLink></li>
                                                <li><h:commandLink action="devolucaoLinhasAso">Devolução</h:commandLink></li>
                                            </ul>
                                        </li>
                                        <li class="menupai"><a href="#">Associados</a>
                                            <ul>
                                                <li><h:commandLink action="devolucaoLinhas">Devolução</h:commandLink></li>
                                                <li><h:commandLink action="associadosLinhas">Entrega</h:commandLink></li>
                                                <li><h:commandLink action="lancamentoExtra">Extras</h:commandLink></li>
                                                <li><h:commandLink action="trocaPlano">Troca Plano</h:commandLink></li>
                                            </ul>
                                        </li>
                                        <li class="menupai"><a href="#">Vivo</a>
                                            <ul>
                                                <li><h:commandLink action="/telefonia/contratos_vivo">Contratos</h:commandLink></li>
                                                <li><h:commandLink action="assVivo">Entrega</h:commandLink></li>
                                                <li><h:commandLink action="/telefonia/associado_vivo_devolucao">Devolução</h:commandLink></li>
                                                <li><h:commandLink action="/telefonia/extra_vivo">Extras</h:commandLink></li>
                                                <li><h:commandLink action="/telefonia/faturar_vivo">Faturar</h:commandLink></li>
                                                <li><h:commandLink action="/telefonia/linhas_vivo">Linhas Vivo</h:commandLink></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menupai"><a href="#">Notas Fiscais</a>
                                    <ul>
                                        <li><h:commandLink action="cadastroFornecedores">Fornecedores</h:commandLink></li>
                                        <li><h:commandLink action="cadastroAparelhos">Aparelhos</h:commandLink></li>
                                        <li><h:commandLink action="cadastroNota">Nota Fiscal</h:commandLink></li>
                                    </ul>
                                </li>
                                <h:panelGroup id="painelRelatorios" rendered="true" >
                                    <li class="menupai"><a href="#">Relatórios</a>
                                        <ul>
                                            <li class="menupai"><a href="#">Cobrança</a>
                                                <ul>
                                                    <li><h:commandLink action="selReferencia">Títulos
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relTitulosSituacao" />
                                                            <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Títulos por Referência Situação" />
                                                        </h:commandLink></li>
                                                    <li><h:commandLink action="/associacao/relatorio_parcelamento">Parcelamentos</h:commandLink></li>
                                                </ul>
                                            </li>
                                            <li><h:commandLink action="#{associadoBean.relVeiculos}">Veículos</h:commandLink></li>
                                            <li><h:commandLink action="#{associadoBean.exportarEmails}">Exportar Emails</h:commandLink></li>
                                            <li><h:commandLink action="selReferencia">Receitas p/ Referência
                                                    <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relReceitasPorReferencia" />
                                                    <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Receita por Referência" />
                                                </h:commandLink>
                                            </li>
                                            <li><h:commandLink action="#{associadoBean.relatorios}">Receitas
                                                    <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relReceitas" />
                                                    <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Receitas" />
                                                </h:commandLink></li>
                                            <li class="menupai"><a href="#">Débito Automático</a>
                                                <ul>
                                                    <li><h:commandLink action="#{associadoBean.relDebCadastrados}">Cadastrados</h:commandLink></li>
                                                    <li><h:commandLink action="#{associadoBean.relDebNaoCadastrados}">Não Cadastrados</h:commandLink></li>
                                                    <li><h:commandLink action="selReferencia">Enviados
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relEnviados" />
                                                            <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Débitos Enviados" />
                                                        </h:commandLink></li>
                                                    <li><h:commandLink action="selReferencia">Não Enviados
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relNaoEnviados" />
                                                        </h:commandLink></li>
                                                    <li><h:commandLink action="selReferencia">Ocorrências
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relOcorrencias" />
                                                            <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Retorno do Débito Automático" />
                                                        </h:commandLink></li>
                                                    <li><h:commandLink action="selReferencia">Debitados
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relDebitados" />
                                                            <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Lançamentos Efetuados" />
                                                        </h:commandLink></li>
                                                    <li><h:commandLink action="selReferencia">Não Debitados
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relNDebitados" />
                                                            <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Relatório de Lançamentos Não Efetuados" />
                                                        </h:commandLink></li>
                                                </ul>
                                            </li>
                                            <li class="menupai"><a href="#">Telefonia</a>
                                                <ul>
                                                    <li><h:commandLink action="#{associadoBean.relCustoPorLinha}">Custo por Linha</h:commandLink></li>
                                                    <li><h:commandLink action="#{associadoBean.relLinhasCadastradas}">Linhas Cadastradas</h:commandLink></li>
                                                    <li><h:commandLink action="#{associadoBean.relLinhasPorAssociado}">Linhas por Associado</h:commandLink></li>
                                                    <li><h:commandLink action="relatorioTelefonia">Fatura
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relFaturaTelefonica" />
                                                        </h:commandLink>
                                                    </li>
                                                    <li><h:commandLink action="relatorioTelefonia">Fatura Vivo
                                                            <f:setPropertyActionListener target="#{associadoBean.fromId}" value="relFatVivo" />
                                                        </h:commandLink>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><h:commandLink action="selReferencia">Enviar Emails
                                                    <f:setPropertyActionListener target="#{associadoBean.fromId}" value="enviarEmails" />
                                                    <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Enviar Emails Faturamento" />
                                                </h:commandLink></li>
                                            <li><h:commandLink action="selReferencia">Emails Não Deb
                                                    <f:setPropertyActionListener target="#{associadoBean.fromId}" value="envEmailsDeb" />
                                                    <f:setPropertyActionListener target="#{associadoBean.relNome}" value="Enviar Emails Não Debitados" />
                                                </h:commandLink></li>
                                        </ul>
                                    </li></h:panelGroup>
                                <li><h:commandLink action="#{userBean.logout}">Logout</h:commandLink></li>
                            </ul>
                        </h:form>
                    </f:view>
                </div>
                <div id="conteudo">
                    <ui:insert name="divCentro"></ui:insert>
                </div>
            </div>
            <div id="rodape">
                <br />
                <p>Este site é melhor visualizado no Mozilla Firefox.</p>
                <p><strong>Construído por Julianno Martins Silva.</strong></p>
            </div>
        </div>
    </body>
</html>


