<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ab="http://tag.abepomi.org/upload">
    
    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Upload de Arquivos de Telefonia
    </ui:define>

    <ui:define name="divTitulo">
        Upload de Arquivos de Telefonia
    </ui:define>

    <ui:define name="divCentro">
<f:view>
            <fieldset id="principal" class="geral">
                <h:form id="formUpload" enctype="multipart/form-data">
                    <fieldset id="fieldUp" class="interno">
                        <ab:upload target="#{teleBean.localArquivo}" id="file" />
                        <br />
                        <h:commandButton action="#{teleBean.salvarArquivo}" value="Enviar" />
                    </fieldset>
                </h:form>
                <h:form id="arquivos">
                    <fieldset id="fieldArqs" class="interno">

                        <legend>Arquivos Enviados</legend>
                        <h:dataTable id="tabela" value="#{teleBean.arquivos}" var="arq" rendered="#{!teleBean.arquivos.isEmpty()}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerNome" value="Nome:" styleClass="head" />
                                </f:facet>
                                <h:outputText id="nome" value="#{arq[0]}" styleClass="column"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerData" value="Data:" styleClass="head" />
                                </f:facet>
                                <h:outputText id="data" value="#{arq[1]}" styleClass="column"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerTamanho" value="Tamanho:" styleClass="head" />
                                </f:facet>
                                <h:outputText id="tamanho" value="#{arq[2]}" styleClass="column"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerAcao" value="Ação:" styleClass="head" />
                                </f:facet>
                                <h:commandLink id="acaoProcessar" value="Processar" action="#{teleBean.processarArquivo}" styleClass="columnr">
                                    <f:setPropertyActionListener target="#{teleBean.arquivoSelecionado}" value="#{arq[0]}" />
                                </h:commandLink>/
                                <h:commandLink id="acaoApagar" value="Apagar" action="#{teleBean.apagarArquivo}" styleClass="column">
                                    <f:setPropertyActionListener target="#{teleBean.arquivoSelecionado}" value="#{arq[0]}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                        <h:outputText id="informe" styleClass="informe" value="Não há arquivos a serem mostrados!" rendered="#{teleBean.arquivos.isEmpty()}"/>
                    </fieldset>
                </h:form>
            </fieldset>
        </f:view>
    </ui:define>

</ui:composition>
