<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ab="http://tag.abepomi.org/upload">



    <ui:define name="titulo">ABEPOMI - Arquivos Débito Automático</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Retorno Débito Automático</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <fieldset id="principal" class="geral">
                <h:form id="formUpload" enctype="multipart/form-data">
                    <fieldset id="fieldUp" class="interno">
                        <ab:upload target="#{asoBean.arquivoDA}" id="file" />
                        <br />
                        <h:commandButton action="#{asoBean.salvarArquivo}" value="Enviar" />
                    </fieldset>
                </h:form>
                <h:form id="arquivos">
                    <fieldset id="fieldArqs" class="interno">

                        <legend>Arquivos Enviados</legend>
                        <h:dataTable id="tabela" value="#{asoBean.arquivosDA}" var="arq" rendered="#{!asoBean.arquivosDA.isEmpty()}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerNome" value="Nome:" styleClass="head" />
                                </f:facet>
                                <h:outputText id="nome" value="#{arq[0]}" styleClass="column"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerData" value="Data:" styleClass="head" />
                                </f:facet>
                                <h:outputText id="data" value="#{arq[1]}" styleClass="column"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerTamanho" value="Tamanho:" styleClass="head" />
                                </f:facet>
                                <h:outputText id="tamanho" value="#{arq[2]}" styleClass="column"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerAcao" value="Ação:" styleClass="head" />
                                </f:facet>
                                <h:commandLink id="acaoProcessar" value="Processar" action="#{asoBean.processarArquivoRetorno}" styleClass="columnr">
                                    <f:setPropertyActionListener target="#{asoBean.arquivo}" value="#{arq[0]}" />
                                </h:commandLink>/
                                <h:commandLink id="acaoApagar" value="Apagar" action="#{asoBean.apagarArqDA}" styleClass="column">
                                    <f:setPropertyActionListener target="#{asoBean.arquivo}" value="#{arq[0]}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                        <h:outputText id="informe" styleClass="informe" value="Não há arquivos a serem mostrados!" rendered="#{asoBean.arquivosDA.isEmpty()}"/>
                    </fieldset>
                </h:form>
            </fieldset>
        </f:view>
    </ui:define>
</ui:composition>



