<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Aparelhos
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Aparelhos
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form>
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Aparelho</legend>
                        <h:inputHidden id="id" value="#{fornMB.aparelho.id}" />
                        <label id="lnome" for="nome">Nome:*</label>
                        <h:inputText value="#{fornMB.aparelho.nome}"
                                     id="nome"
                                     required="true"
                                     requiredMessage="Digite o nome!"
                                     validatorMessage="Nome do aparelho maior que 50 caracteres!"
                                     onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength for="nome" maximum="50" />
                        </h:inputText>
                        <h:message id="mnome" for="nome" errorClass="errorMessage" />
                        <br />
                        <label id="lvenda" for="venda">Venda R$:*</label>
                        <h:inputText value="#{fornMB.aparelho.valorVenda}"
                                     id="venda"
                                     required="true"
                                     requiredMessage="Digite o valor de venda!"
                                     converterMessage="Valor inválido!"
                                     validatorMessage="Valor deve ser maior que 0,00!"
                                     styleClass="in160"
                                     alt="decimal">
                            <f:convertNumber pattern="###0.00" />
                            <f:validateDoubleRange minimum="0.01" />
                        </h:inputText>
                        <h:message id="mvenda" for="venda" errorClass="errorMessage" />
                        <br />
                        <label id="lmedio" for="medio">Valor médio:</label>
                        <h:inputText value="#{fornMB.aparelho.valorMedio}"
                                     id="medio"
                                     readonly="true"
                                     styleClass="in160"
                                     alt="decimal">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <br />
                        <label id="lestoque" for="estoque">Estoque:</label>
                        <h:inputText value="#{fornMB.aparelho.estoque}"
                                     id="estoque"
                                     readonly="true"
                                     styleClass="in160"
                                     alt="decimal">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <br />
                        <h:selectBooleanCheckbox id="mostrarAparelhos"
                                                 value="#{fornMB.mostrarAparelhos}">
                            <f:ajax event="valueChange"
                                    execute="@this"
                                    render="grpAparelhos"/>
                        </h:selectBooleanCheckbox>
                        <br />
                        <h:panelGroup id="grpAparelhos">
                            <h:dataTable id="tabelaAparelhos" value="#{fornMB.aparelhos}" var="apSel" rendered="#{fornMB.mostrarAparelhos}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerId" value="Id.:" />
                                </f:facet>
                                <h:outputText id="valueId" value="#{apSel.id}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerNome" value="Nome:" />
                                </f:facet>
                                <h:outputText id="valueNome" value="#{apSel.nome}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerVenda" value="Valor de venda:"  />
                                </f:facet>
                                <h:outputText id="valueVenda" value="#{apSel.valorVenda}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerSelecione" value="Selecione:" />
                                </f:facet>
                                <h:commandLink action="#{fornMB.carregarAlteracao}" value="Alterar" immediate="true">
                                    <f:setPropertyActionListener value="#{apSel}" target="#{fornMB.aparelho}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                        </h:panelGroup>
                    </fieldset>
                    <h:commandButton id="salvar" action="#{fornMB.salvarAparelho}" value="Salvar" />
                    <h:commandButton id="limpar" action="#{fornMB.limparAparelho}" value="Limpar" immediate="true" />

                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
