<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Fornecedores
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Fornecedores
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form>
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Fornecedor</legend>
                        <h:inputHidden id="id" value="#{fornMB.fornecedor.id}" />
                        <label id="lrazao" for="razao">Razão Social:*</label>
                        <h:inputText id="razao"
                                     value="#{fornMB.fornecedor.nome}"
                                     required="true"
                                     requiredMessage="Digite a razão social!"
                                     onchange="this.value = this.value.toUpperCase();"
                                     validatorMessage="Razão social maior que 50 caracteres!">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mrazao"
                                   for="razao"
                                   styleClass="errorMessage" />
                        <br />
                        <label id="lie" for="ie">I. E.:*</label>
                        <h:inputText id="ie"
                                     value="#{fornMB.fornecedor.rgie}"
                                     required="true"
                                     requiredMessage="Digite a inscrição estadual!"
                                     onchange="this.value = this.value.toUpperCase();"
                                     validatorMessage="Razão social maior que 14 caracteres!">
                            <f:validateLength maximum="14"/>
                        </h:inputText>
                        <h:message id="mie"
                                   for="ie"
                                   styleClass="errorMessage" />
                        <br />
                        <label id="lcnpj" for="cnpj">CNPJ:*</label>
                        <h:inputText id="cnpj"
                                     value="#{fornMB.fornecedor.cpfcnpj}"
                                     required="true"
                                     requiredMessage="Digite o CNPJ!"
                                     alt="cnpj">
                            <f:validator validatorId="ValidaCpfCnpj"  />
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <h:message id="mcnpj"
                                   for="cnpj"
                                   styleClass="errorMessage" />
                        <br />
                        <label id="lcontato" for="contato">Contato:</label>
                        <h:inputText id="contato"
                                     value="#{fornMB.fornecedor.contato}"
                                     validatorMessage="Nome do contato maior que 50 caracteres!"
                                     onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <br />
                        <label id="ltel" for="tel">Telefone:</label>
                        <h:inputText id="tel"
                                     value="#{fornMB.fornecedor.telefone}"
                                     alt="phone">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <br />
                    </fieldset>
                    <fieldset class="interno">
                        <legend>Endereço</legend>
                        <label id="llogradouro" for="ilogradouro">Logradouro:</label>
                        <h:inputText id="ilogradouro"
                                     value="#{fornMB.fornecedor.endereco.logradouro}"
                                     onchange="this.value = this.value.toUpperCase();"
                                     validatorMessage="Logradouro maior que 50 caracteres!">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mlogradouro" for="ilogradouro" styleClass="errorMessage" />
                        <br />
                        <label id="lcidade" for="icidade">Cidade:</label>
                        <h:inputText id="icidade"
                                     value="#{fornMB.fornecedor.endereco.cidade}"
                                     onchange="this.value = this.value.toUpperCase();"
                                     validatorMessage="Cidade maior que 50 caracteres!">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mcidade" for="icidade" styleClass="errorMessage" />
                        <br />
                        <label id="luf" for="iuf">Estado:</label>
                        <h:selectOneMenu id="iuf"
                                         value="#{fornMB.fornecedor.endereco.uf}">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.estados}" />
                        </h:selectOneMenu>
                        <h:message for="iuf" styleClass="errorMessage" />
                        <br />
                        <label id="lcep" for="icep">CEP:</label>
                        <h:inputText id="icep" 
                                     value="#{fornMB.fornecedor.endereco.cep}"
                                     styleClass="in160" alt="cep">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <h:message id="mcep" for="icep" styleClass="errorMessage"/>
                        <br />
                    </fieldset>
                    <h:commandButton action="#{fornMB.salvarFornecedor}" 
                                     value="Salvar"
                                     id="btnSalvar" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
