<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Notas Fiscais
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Notas Fiscais
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formNF" prependId="false">
                <fieldset class="geral" id="geral">
                    <fieldset class="interno" id="cabecalho">
                        <legend id="legcabecalho">Cabeçalho</legend>
                        <label id="lemissao" for="emissao">Emissão:*</label>
                        <h:inputText id="emissao"
                                     value="#{fornMB.nota.data}"
                                     required="true"
                                     requiredMessage="Digite a data de emissão!"
                                     styleClass="in160"
                                     alt="date">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message for="emissao" id="memissao" styleClass="errorMessage" />
                        <br />
                        <label id="lforn" for="fornecedor">Fornecedor:*</label>
                        <h:selectOneMenu id="fornecedor"
                                         value="#{fornMB.nota.fornecedor}"
                                         required="true"
                                         requiredMessage="Selecione um fornecedor!">
                            <f:converter converterId="FornConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{fornMB.fornecedores}"
                                           var="fornSel"
                                           itemLabel="#{fornSel.nome}" />
                        </h:selectOneMenu>
                        <h:message id="mforn" for="fornecedor" errorClass="errorMessage" />
                        <br />
                        <label id="lnumero" for="numero">Número:*</label>
                        <h:inputText id="numero"
                                     value="#{fornMB.nota.numero}"
                                     required="true"
                                     requiredMessage="Digite o número da nota!"
                                     validatorMessage="O número da nota deve ser menor que 15 caracteres!"
                                     styleClass="in160">
                            <f:validateLength maximum="15" />
                        </h:inputText>
                        <h:message for="numero" id="mnumero" styleClass="errorMessage" />
                        <br />
                    </fieldset>
                    <fieldset id="itens" class="interno">
                        <legend id="legitens">Itens</legend>
                        <label id="laparelho" for="aparelho">Aparelho:*</label>
                        <h:selectOneMenu id="aparelho"
                                         value="#{fornMB.item.aparelho}"
                                         immediate="true">
                            <f:converter converterId="AparelhoConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{fornMB.aparelhos}"
                                           var="apaSel"
                                           itemLabel="#{apaSel.nome}" />
                        </h:selectOneMenu>
                        <br />
                        <h:message id="maparelho" for="aparelho" styleClass="errorMessage" />
                        <label id="lqtde" for="qtde">Quantidade:*</label>
                        <h:inputText id="qtde"
                                     converterMessage="Número inválido!"
                                     styleClass="in160"
                                     alt="integer"
                                     value="#{fornMB.item.qtde}">
                            <f:convertNumber integerOnly="true" />
                        </h:inputText>
                        <h:message id="mqtde" for="qtde" styleClass="errorMessage" />
                        <br />
                        <label id="lvalor" for="valor">Valor:*</label>
                        <h:inputText id="valor"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{fornMB.item.preco}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="mvalor" for="valor" errorClass="errorMessage" />
                        <br />
                        <h:commandButton id="bincluir"
                                         action="#{fornMB.incluirItem}"
                                         value="Incluir">
                            <f:ajax event="action" execute="aparelho qtde valor" render="aparelho qtde valor tbItens maparelho mqtde mvalor mtbitens" />
                        </h:commandButton>
                    </fieldset>
                    <fieldset id="itensnota" class="interno">
                        <legend id="legitensnota">Itens Nota</legend>
                        <h:dataTable id="tbItens" value="#{fornMB.nota.itens}" var="itnf" >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerProd" value="Produto:" />
                                </f:facet>
                                <h:outputText id="produto" value="#{itnf.aparelho.nome}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerQtde" value="Quantidade:" />
                                </f:facet>
                                <h:outputText id="qtde" value="#{itnf.qtde}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerVlr" value="Valor:" />
                                </f:facet>
                                <h:outputText id="vlr" value="#{itnf.preco}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerTotal" value="Total:" />
                                </f:facet>
                                <h:outputText id="total" value="#{itnf.preco * itnf.qtde}" />
                            </h:column>
                        </h:dataTable>
                        <h:message id="mtbitens" for="tbItens" styleClass="errorMessage" />
                    </fieldset>
                    <fieldset id="botoes" class="interno">
                        <h:commandButton id="salvarNota" action="#{fornMB.salvarNota}" value="Salvar" />
                        <h:commandButton id="limparNota" action="#{fornMB.limparNota}" value="Limpar" immediate="true" />
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
