<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Pesquisa de Contratos
    </ui:define>

    <ui:define name="divTitulo">
        Pesquisa de Contratos de Telefonia
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="alterarContrato" >
                <fieldset class="geral">
                    <legend>Pesquisar</legend>
                    <fieldset class="interno">
                        <h:dataTable id="dtpesquisa" value="#{teleBean.contratos}" var="contrato">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerNumero" value="Número:" />
                                </f:facet>
                                <h:outputText id="numero" value="#{contrato.numero}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerDesc" value="Descrição:"  />
                                </f:facet>
                                <h:outputText id="desc" value="#{contrato.descricao}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerData" value="Data:"  />
                                </f:facet>
                                <h:outputText id="data" value="#{contrato.data.toLocaleString()}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerSelecione" value="Selecione:" />
                                </f:facet>
                                <h:commandLink action="contratos" value="Selecionar">
                                    <f:setPropertyActionListener value="#{contrato}" target="#{teleBean.contrato}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
