<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Pesquisa de Planos
    </ui:define>

    <ui:define name="divTitulo">
        Pesquisa de Planos
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="alterarPlano" >
                <fieldset class="geral">
                    <legend>Pesquisar</legend>
                    <fieldset class="interno">
                        <h:dataTable id="dtpesquisa" value="#{teleBean.planos}" var="plano">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerDesc" value="Descrição:" />
                                </f:facet>
                                <h:outputText id="desc" value="#{plano.descricao}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerTipo" value="Tipo:"  />
                                </f:facet>
                                <h:outputText id="tipo" value="#{plano.tipo.toString()}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerSelecione" value="Selecione:" />
                                </f:facet>
                                <h:commandLink action="planos" value="Selecionar">
                                    <f:setPropertyActionListener value="#{plano}" target="#{teleBean.plano}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
