<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Devolução de Linhas Vivo
    </ui:define>

    <ui:define name="divTitulo">
        Devolução de Linhas Vivo
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formDevolucao">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno" >
                        <legend id="legendInterno">Dados</legend>
                        <label id="labelAssociado" for="associado">Associado:*</label>
                        <h:selectOneMenu id="associado"
                                         required="true"
                                         requiredMessage="Selecione um associado!"
                                         value="#{teleVivo.assId}"
                                         valueChangeListener="#{teleVivo.carregarLinhasAssociados}" >
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleVivo.associadosComLinhasVivo}"
                                           var="ass"
                                           itemLabel="#{ass.nome}"
                                           itemValue="#{ass.id}"/>
                            <f:ajax event="change" execute="@this" render="linha" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociado" for="associado" errorClass="errorMessage" />
                        <br />
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleVivo.linhaDevolucao}">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleVivo.linhasAssociados}"
                                           var="linhaSelecionada"
                                           itemLabel="#{linhaSelecionada}"/>
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelData">Devolução:*</label>
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data de devolução da linha!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleVivo.dataDevolucao}" >
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" styleClass="errorMessage" />
                        <br />
                        <h:commandButton value="Salvar" action="#{teleVivo.devolverLinhaAssociado}" />
                        <h:commandButton value="Sair" action="index" immediate="true" />
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
