<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
       
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Devolução de Linhas
    </ui:define>

    <ui:define name="divTitulo">
        Devolução de Linhas
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formDevolucao">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno" >
                        <legend id="legendInterno">Dados</legend>
                        <label id="labelAssociado" for="associado">Associado:*</label>
                        <h:selectOneMenu id="associado"
                                         immediate="true"
                                         required="true"
                                         requiredMessage="Selecione um associado!"
                                         value="#{teleBean.associado}"
                                         valueChangeListener="#{teleBean.carregarLinhasAssociado}" >
                            <f:converter converterId="AssConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.associados}"
                                           var="associadoSelecionado"
                                           itemLabel="#{associadoSelecionado.nome}" />
                            <f:ajax event="change" execute="@this" render="formDevolucao:linha" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociado" for="associado" errorClass="errorMessage" />
                        <br />
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleBean.assLinha}">
                            <f:converter converterId="AssLinhaConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.linhasAssociados}"
                                           var="linhaSelecionada"
                                           itemLabel="#{linhaSelecionada.linha.numero}" />
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelData">Devolução:*</label>
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data de devolução da linha!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleBean.assLinha.devolucao}" >
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" styleClass="errorMessage" />
                        <br />
                        <h:commandButton value="Salvar" action="#{teleBean.devolverAssociadoLinha}" />
                        <h:commandButton value="Sair" action="index" immediate="true" />
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
