<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Vendas de Linhas
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Vendas de Linhas
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastroVendas">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno" >
                        <legend id="internoDados">Dados</legend>
                        <label id="labelAssociado" for="associado">Associado:*</label>
                        <h:selectOneMenu id="associado"
                                         required="true"
                                         requiredMessage="Selecione um associado!"
                                         value="#{teleBean.assLinha.associado}">
                            <f:converter converterId="AssConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.associados}"
                                           var="associadoSelecionado"
                                           itemLabel="#{associadoSelecionado.nome}" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociado" for="associado" errorClass="errorMessage" />
                        <br />
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleBean.assLinha.linha}">
                            <f:converter converterId="LinhaConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.linhasLivres}"
                                           var="linhaLivre"
                                           itemLabel="#{linhaLivre.numero}"/>
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelPlano" for="plano">Plano:*</label>
                        <h:selectOneMenu id="plano"
                                         required="true"
                                         requiredMessage="Selecione um plano!"
                                         value="#{teleBean.assLinha.plano}">
                            <f:converter converterId="PlanoConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.planos}"
                                           var="planoSelecionado"
                                           itemLabel="#{planoSelecionado.descricao}"/>
                        </h:selectOneMenu>
                        <h:message id="messagePlano" for="plano" errorClass="errorMessage" />
                        <br />
                        <label id="labelData" for="data">Data de Entrega:*</label> <br />
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data de entrega da linha!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleBean.assLinha.entrega}"
                                     validator="#{teleBean.validarDataEntrega}">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" styleClass="errorMessage" />
                        <br />
                        <label id="lGrpHabilitacao">Habilitação?</label>
                        <h:selectBooleanCheckbox id="comHabilitacao" value="#{teleBean.comHabilitacao}">
                            <f:ajax execute="@this" render="grupoHabilitacao habilitacao" />
                        </h:selectBooleanCheckbox>
                        <br />
                        <label id="lGrpAparelho">Aparelho?</label>
                        <h:selectBooleanCheckbox id="comAparelho" value="#{teleBean.comAparelho}">
                            <f:ajax execute="@this" render="grupoAparelho" />
                        </h:selectBooleanCheckbox>
                        <br />
                    </fieldset>
                    <h:panelGroup id="grupoHabilitacao">
                        <h:panelGroup id="grupoHabilitacaoInterno" rendered="#{teleBean.comHabilitacao}">
                            <fieldset id="fieldHabil" class="interno">
                                <legend>Habilitação</legend>
                                <label id="labelHabilitacao" for="habilitacao">Valor:</label>
                                <h:inputText id="habilitacao"
                                             required="true"
                                             converterMessage="Valor inválido!"
                                             validatorMessage="Valor deve ser maior que 0!"
                                             requiredMessage="Digite o valor da habilitação!"
                                             styleClass="in160"
                                             alt="decimal"
                                             value="#{teleBean.habilitacao}">
                                    <f:convertNumber pattern="###0.00" />
                                    <f:validateDoubleRange minimum="0.01" />
                                </h:inputText>
                                <h:message id="messageHabilitacao" for="habilitacao" styleClass="errorMessage" />
                                <br />
                                <label id="labelParcHabil" for="habil">Parcelas:</label>
                                <h:inputText id="habil"
                                             validatorMessage="Digite a quantidade de parcelas entre 1 e 3!"
                                             converterMessage="Número inválido!"
                                             required="true"
                                             requiredMessage="Digite a quantidade de parcelas!"
                                             styleClass="in160"
                                             alt="integer"
                                             value="#{teleBean.parcelasHabil}">
                                    <f:convertNumber integerOnly="true" />
                                    <f:validateLongRange minimum="1" maximum="3" />
                                </h:inputText>
                                <h:message id="messageParcHabil" for="habil" styleClass="errorMessage" />
                                <br />
                            </fieldset>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup id="grupoAparelho">
                        <h:panelGroup id="grupoAparelhoInterno" rendered="#{teleBean.comAparelho}">
                            <fieldset id="fieldAparelho" class="interno">
                                <legend>Aparelho</legend>
                                <label id="lmodelo" for="modelo">Modelo:</label>
                                <h:selectOneMenu id="modelo"
                                                 value="#{teleBean.apaAss.aparelho}"
                                                 converter="AparelhoConverter"
                                                 required="true"
                                                 requiredMessage="Selecione um aparelho!">
                                    <f:ajax execute="@this" render="aparelho" listener="#{teleBean.carregarValorAparelho}" />
                                    <f:selectItem itemLabel="Selecione" />
                                    <f:selectItems value="#{teleBean.aparelhos}"
                                                   var="aparelho"
                                                   itemLabel="#{aparelho.nome}" />
                                </h:selectOneMenu>
                                <h:message id="mmodelo" for="modelo" styleClass="errorMessage" />
                                <br />
                                <label id="limei" for="imei">Imei:</label>
                                <h:inputText id="imei"
                                             value="#{teleBean.apaAss.imei}"
                                             validatorMessage="O imei deve ter 15 caracteres!"
                                             required="true"
                                             requiredMessage="Digite o imei do aparelho!">
                                    <f:validateLength minimum="15" maximum="15" />
                                </h:inputText>
                                <h:message id="mimei" for="imei" styleClass="errorMessage" />
                                <br />
                                <label id="labelAparelho" for="aparelho">Valor:</label>
                                <h:inputText id="aparelho"
                                             converterMessage="Valor inválido!"
                                             styleClass="in160"
                                             alt="decimal"
                                             value="#{teleBean.apaAss.valor}">
                                    <f:convertNumber pattern="###0.00" />
                                    <f:validateDoubleRange minimum="0" />
                                </h:inputText>
                                <h:message id="messageAparelho" for="aparelho" styleClass="errorMessage" />
                                <br />
                                <label id="labelParcelas" for="parcelas">Parcelas:</label>
                                <h:inputText id="parcelas"
                                             validatorMessage="Digite a quantidade de parcelas entre 1 e 3!"
                                             converterMessage="Número inválido!"
                                             styleClass="in160"
                                             alt="integer"
                                             value="#{teleBean.apaAss.parcelas}"
                                             required="true"
                                             requiredMessage="Digite o número de parcelas!">
                                    <f:convertNumber integerOnly="true" />
                                    <f:validateLongRange minimum="1" maximum="3" />
                                </h:inputText>
                                <h:message id="messageParcelas" for="parcelas" styleClass="errorMessage" />
                                <br />
                            </fieldset>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:commandButton value="Salvar" action="#{teleBean.salvarAssociadoLinha}" />
                    <h:commandButton value="Limpar" immediate="true" action="#{teleBean.limparAssociadoLinha}" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>
