<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Devolução de Linhas Associação
    </ui:define>

    <ui:define name="divTitulo">
        Devolução de Linhas em Uso pela Associação
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formDevolucao">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno" >
                        <legend id="legendInterno">Dados</legend>
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleBean.asoLinha}"
                                         valueChangeListener="#{teleBean.carregarAsoLinha}"
                                         immediate="true" >
                            <f:converter converterId="AsoLinhaConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.linhasAssociacao}"
                                           var="linhaSelecionada"
                                           itemLabel="#{linhaSelecionada.linha.numero}" />
                            <f:ajax event="change" execute="@this" render="formDevolucao:favorecido" />
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelFavorecido" for="favorecido">Favorecido:</label>
                        <h:inputText id="favorecido"
                                     readonly="true"
                                     value="#{teleBean.asoLinha.favorecido}" />
                        <br />
                        <label id="labelData">Devolução:*</label>
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data de devolução da linha!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleBean.asoLinha.devolucao}"
                                     validator="#{teleBean.validarDataEntrega}">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" styleClass="errorMessage" />
                        <br />
                        <h:commandButton value="Salvar" action="#{teleBean.devolverAssociacaoLinha}" />
                        <h:commandButton value="Sair" action="index" immediate="true" />
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
