<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Posse de Linhas
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Linhas para Uso da Associação
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="cadastroAsoLinha">
                <fieldset class="geral" id="geral">
                    <fieldset class="interno" id="interno">
                        <legend id="legendDados">Dados</legend>
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleBean.asoLinha.linha}">
                            <f:converter converterId="LinhaConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.linhasLivres}"
                                           var="linhaLivre"
                                           itemLabel="#{linhaLivre.numero}"/>
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelFavorecido" for="favorecido">Usuário:*</label>
                        <h:inputText id="favorecido"
                                     required="true"
                                     requiredMessage="Digite o nome do usuário da linha!"
                                     value="#{teleBean.asoLinha.favorecido}"
                                     onchange="this.value = this.value.toUpperCase();"/>
                        <h:message id="messageFavorecido" for="favorecido" styleClass="errorMessage" />
                        <br />
                        <label id="labelData" for="data">Data de Entrega:*</label> <br />
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data de entrega da linha!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleBean.asoLinha.entrega}"
                                     validator="#{teleBean.validarDataEntrega}">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" styleClass="errorMessage" />
                        <br />
                        <h:commandButton value="Salvar" action="#{teleBean.salvarAssociacaoLinha}" />
                        <h:commandButton value="Limpar" immediate="true" action="#{teleBean.limparAssociacaoLinha}" />
                    </fieldset>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
