<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Linhas Vivo para Associados
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Linhas Vivo para Associados
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastroVendas">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno" >
                        <legend id="internoDados">Dados</legend>
                        <label id="labelAssociado" for="associado">Associado:*</label>
                        <h:selectOneMenu id="associado"
                                         required="true"
                                         requiredMessage="Selecione um associado!"
                                         value="#{teleVivo.associado}">
                            <f:converter converterId="AssConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleVivo.associados}"
                                           var="associadoSelecionado"
                                           itemLabel="#{associadoSelecionado.nome}" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociado" for="associado" errorClass="errorMessage" />
                        <br />
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleVivo.assVivo.linha}" >
                            <f:selectItem itemLabel="Selecione" noSelectionOption="true" />
                            <f:selectItems var="linha"
                                           itemLabel="#{linha.linha}"
                                           itemValue="#{linha.linha}"
                                           value="#{teleVivo.linhasLivre}" />
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelData" for="data">Data de Entrega:*</label> <br />
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data de entrega da linha!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleVivo.assVivo.entrega}">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" styleClass="errorMessage" />
                        <br />
                        <label id="lGrpAparelho">Aparelho?</label>
                        <h:selectBooleanCheckbox id="comAparelho"
                                                 value="#{teleVivo.comAparelho}">
                            <f:ajax execute="@this" render="grpAparelho" />
                        </h:selectBooleanCheckbox>
                        <br />
                        <label id="lGrpHabil">Habilitação?</label>
                        <h:selectBooleanCheckbox id="comHabil"
                                                 value="#{teleVivo.comHabilitacao}">
                            <f:ajax execute="@this" render="grpHabilitacao" />
                        </h:selectBooleanCheckbox>
                        <br />
                    </fieldset>
                    <h:panelGroup id="grpAparelho" >
                        <h:panelGroup id="grpAparelhoInterno" rendered="#{teleVivo.comAparelho}">
                            <fieldset id="fieldAparelho" class="interno">
                                <legend>Aparelho</legend>
                                <label id="laparelho" for="aparelho">Modelo:*</label>
                                <h:selectOneMenu id="aparelho"
                                                 value="#{teleVivo.apAssociado.aparelho}"
                                                 required="true"
                                                 requiredMessage="Selecione um aparelho!">
                                    <f:converter converterId="AparelhoConverter" />
                                    <f:selectItem itemLabel="Selecione" />
                                    <f:selectItems value="#{teleVivo.aparelhos}"
                                                   var="apaSel"
                                                   itemLabel="#{apaSel.nome}" />
                                    <f:ajax execute="@this" render="valor" listener="#{teleVivo.updateValor}" />
                                </h:selectOneMenu>
                                <h:message id="maparelho" for="aparelho" styleClass="errorMessage" />
                                <br />
                                <label id="labelImei" for="imei">Imei:*</label>
                                <h:inputText id="imei"
                                             required="true"
                                             requiredMessage="Digite o imei do aparelho!"
                                             validatorMessage="O imei deve ter 15 numeros!"
                                             styleClass="in160"
                                             value="#{teleVivo.apAssociado.imei}">
                                    <f:validateLength minimum="15" maximum="15" />
                                </h:inputText>
                                <h:message id="mImei" for="imei" styleClass="errorMessage" />
                                <br />
                                <label id="labelParcela" for="parcela">Parcelas:*</label>
                                <h:inputText id="parcela"
                                             required="true"
                                             requiredMessage="Digite a quantidade de parcelas!"
                                             validatorMessage="Quantidade de parcelas deve ser entre 1 e 10!"
                                             converterMessage="Número inválido!"
                                             alt="integer"
                                             styleClass="in100"
                                             value="#{teleVivo.apAssociado.parcelas}">
                                    <f:validateLongRange minimum="1" maximum="10" />
                                </h:inputText>
                                <h:message id="mParcela" for="parcela" styleClass="errorMessage" />
                                <br />
                                <label id="labelValor" for="valor">Valor:*</label>
                                <h:inputText id="valor"
                                             required="true"
                                             requiredMessage="Digite o valor do aparelho!"
                                             validatorMessage="O valor deve ser maior que 0!"
                                             converterMessage="Número inválido!"
                                             alt="decimal"
                                             styleClass="in100"
                                             value="#{teleVivo.apAssociado.valor}" >
                                    <f:validateDoubleRange minimum="0" />
                                    <f:convertNumber pattern="###0.00" />
                                </h:inputText>
                                <h:message id="mValor" for="valor" styleClass="errorMessage" />
                            </fieldset>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup id="grpHabilitacao" >
                        <h:panelGroup id="grpHabilitacaoInterno" rendered="#{teleVivo.comHabilitacao}">
                            <fieldset id="fieldHabil" class="interno">
                                <legend>Habilitação</legend>
                                <label id="labelPHabil" for="pHabil">Parcelas:*</label>
                                <h:inputText id="pHabil"
                                             required="true"
                                             requiredMessage="Digite a quantidade de parcelas!"
                                             validatorMessage="Quantidade de parcelas deve ser entre 1 e 10!"
                                             converterMessage="Número inválido!"
                                             alt="integer"
                                             styleClass="in100"
                                             value="#{teleVivo.parcelaHabil}">
                                    <f:validateLongRange minimum="1" maximum="10" />
                                </h:inputText>
                                <h:message id="mPHabil" for="pHabil" styleClass="errorMessage" />
                                <br />
                                <label id="lhabil" for="habil">Valor:*</label>
                                <h:inputText id="habil"
                                             required="true"
                                             requiredMessage="Digite o valor da habilitação!"
                                             validatorMessage="O deve ser maior que 0!"
                                             converterMessage="Número inválido!"
                                             styleClass="in100"
                                             value="#{teleVivo.valorHabil}"
                                             alt="decimal">
                                    <f:validateDoubleRange minimum="0.01" />
                                    <f:convertNumber pattern="###0.00" />
                                </h:inputText>
                                <h:message id="mHabil" for="habil" styleClass="errorMessage" />
                                <br />
                            </fieldset>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:commandButton value="Salvar" action="#{teleVivo.salvarAssVivo}">
                        <f:setPropertyActionListener target="#{teleVivo.assVivo.ass_id}" value="#{teleVivo.associado.id}" />
                        <f:setPropertyActionListener target="#{teleVivo.apAssociado.associado}" value="#{teleVivo.associado}" />
                        <f:setPropertyActionListener target="#{teleVivo.apAssociado.data}" value="#{teleVivo.assVivo.entrega}" />
                    </h:commandButton>
                    <h:commandButton value="Limpar" immediate="true" action="#{teleVivo.limparAssVivo}" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
