<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Contratos de Telefonia
    </ui:define>
    <ui:define name="divTitulo">
        Cadastro de Contratos de Telefonia
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formContratosTelefonia">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno">
                        <legend>Contrato</legend>
                        <h:inputHidden id="codigo" value="#{teleBean.contrato.id}"/>
                        <label id="labelNro" for="nro">Número:*</label>
                        <h:inputText id="nro" 
                                     required="true"
                                     requiredMessage="Digite o número do contrato!"
                                     validatorMessage="Tamanho máximo de 20 caracteres!"
                                     value="#{teleBean.contrato.numero}">
                            <f:validateLength maximum="20"/>
                        </h:inputText>
                        <h:message id="messageNro" for="nro" errorClass="errorMessage" />
                        <br />
                        <label id="labelCiclo" for="ciclo">Ciclo:*</label>
                        <h:inputText id="ciclo"
                                     required="true"
                                     requiredMessage="Digite o dia de início do ciclo!"
                                     alt="integer"
                                     styleClass="in100"
                                     validatorMessage="Informe o dia entre 1 e 28!"
                                     value="#{teleBean.contrato.ciclo}">
                            <f:validateLongRange minimum="1" maximum="28" />
                        </h:inputText>
                        <h:message id="messageCiclo" for="ciclo" errorClass="errorMessage" />
                        <br />
                        <label id="labelData" for="data">Data do Contrato:*</label> <br />
                        <h:inputText id="data"
                                     required="true"
                                     requiredMessage="Digite a data do contrato!"
                                     alt="date"
                                     styleClass="in160"
                                     value="#{teleBean.contrato.data}">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="messageData" for="data" errorClass="errorMessage" />
                        <br />
                        <label id="labelDescricao" for="descricao">Descrição:</label>
                        <h:inputText id="descricao"
                                     validatorMessage="Digite no máximo 50 caracteres!"
                                     value="#{teleBean.contrato.descricao}"
                                     onchange="this.value = this.value.toUpperCase()">
                            <f:validateLength maximum="50" />
                        </h:inputText>
                        <h:message id="messageDescricao" errorClass="errorMessage" for="descricao" />
                        <br />
                        <label id="labelAssociacao" for="associacao">Associação:*</label>
                        <h:selectOneMenu id="associacao"
                                         required="true"
                                         requiredMessage="Selecione uma Categoria!"
                                         value="#{teleBean.contrato.associacao}">
                            <f:converter converterId="AsoConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{asoBean.associacoes}" var="associacao" itemLabel="#{associacao.nome}" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociacao" for="associacao" errorClass="errorMessage" />
                    </fieldset>
                    <h:commandButton id="salvar" value="Salvar" action="#{teleBean.salvarContrato}" />
                    <h:commandButton id="limpar" value="Limpar" immediate="true" action="#{teleBean.limparContrato}" />
                    <h:commandButton id="pesquisar" value="Pesquisar" immediate="true" action="alterarContrato" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
