<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Contratos Vivo
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Contratos Vivo
    </ui:define>

    <ui:define name="divCentro">
        <h:form>
            <fieldset id="geral" class="geral">
                <fieldset id="interno" class="interno">
                    <h:inputHidden id="id" value="#{teleVivo.contrato.id}"  />
                    <legend id="legendDados">Dados:</legend>
                    <label id="labelNumero" for="numero">Numero:*</label>
                    <h:inputText id="numero"
                                 value="#{teleVivo.contrato.numero}"
                                 required="true"
                                 requiredMessage="Digite o número do contrato!"
                                 styleClass="in160"
                                 validatorMessage="Contrato deve ter menos que 15 caracteres!">
                        <f:validateLength maximum="15" />
                    </h:inputText>
                    <br />
                    <label id="labelCiclo" for="ciclo">Ciclo*</label>
                    <h:inputText id="ciclo"
                                 value="#{teleVivo.contrato.ciclo}"
                                 required="true"
                                 requiredMessage="Digite o dia do ciclo!"
                                 styleClass="in160"
                                 validatorMessage="O ciclo deve ser entre os dias 1 e 28!">
                        <f:validateLongRange minimum="1" maximum="28" />
                    </h:inputText>
                    <h:message id="messCiclo" for="ciclo" styleClass="errorMessage" />
                    <br />
                    <label id="labelDescricao" for="descricao">Descrição:*</label>
                    <h:inputText id="descricao"
                                 value="#{teleVivo.contrato.descricao}"
                                 required="true"
                                 requiredMessage="Digite a descrição do contrato!"
                                 validatorMessage="Contrato deve ter menos que 50 caracteres!">
                        <f:validateLength maximum="50" />
                    </h:inputText>
                    <h:message id="messDescricao" for="descricao" styleClass="errorMessage" />
                    <br />
                    <label id="lmostraLinhas" for="mostrarLinhas">Mostrar todas?</label>
                    <h:selectBooleanCheckbox id="mostrarLinhas"
                                             value="#{teleVivo.mostrarContratos}">
                        <f:ajax event="valueChange"
                                execute="@this"
                                render="grpContratos"/>
                    </h:selectBooleanCheckbox>
                    <br />
                    <h:panelGroup id="grpContratos">
                        <h:dataTable id="tabelaContratos" value="#{teleVivo.contratos}" var="contratoSel" rendered="#{teleVivo.mostrarContratos}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerId" value="Id.:" />
                                </f:facet>
                                <h:outputText id="valueId" value="#{contratoSel.id}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerNumero" value="Número:" />
                                </f:facet>
                                <h:outputText id="valueNumero" value="#{contratoSel.numero}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerCiclo" value="Ciclo:" />
                                </f:facet>
                                <h:outputText id="valueCiclo" value="#{contratoSel.ciclo}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerDescricao" value="Descrição:"  />
                                </f:facet>
                                <h:outputText id="valueDescricao" value="#{contratoSel.descricao}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerSelecione" value="Selecione:" />
                                </f:facet>
                                <h:commandLink action="/telefonia/contratos_vivo" value="Alterar" immediate="true">
                                    <f:setPropertyActionListener value="#{contratoSel}" target="#{teleVivo.contrato}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>

                </fieldset>
                <h:commandButton id="salvar"
                                 action="#{teleVivo.salvarContrato}"
                                 value="Salvar" />
                <h:commandButton id="limpar"
                                 action="#{teleVivo.limparContrato}"
                                 value="Limpar"
                                 immediate="true" />
            </fieldset>
        </h:form>
    </ui:define>

</ui:composition>
