<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Lançamentos Extras Vivo
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Lançamentos Extras Vivo
    </ui:define>

    <ui:define name="divCentro">
        <h:form id="principal">
            <fieldset id="geral" class="geral">
                <fieldset id="interno" class="interno">
                    <legend id="legInterno">Dados</legend>
                    <label id="lAssociado" for="associado">Associado:*</label>
                    <h:selectOneMenu id="associado"
                                     required="true"
                                     requiredMessage="Selecione um associado!"
                                     valueChangeListener="#{teleVivo.carregarLinhasAssociados}"
                                     value="#{teleVivo.assId}">
                        <f:ajax event="change" execute="@this" render="linha" />
                        <f:selectItem itemLabel="Selecione" />
                        <f:selectItems value="#{teleVivo.associadoLinhaVivo}"
                                       var="ass"
                                       itemLabel="#{ass.nome}"
                                       itemValue="#{ass.id}"/>
                    </h:selectOneMenu>
                    <h:message for="associado" styleClass="errorMessage" />
                    <br />
                    <label id="lLinha" for="linha">Linha:*</label>
                    <h:selectOneMenu id="linha"
                                     value="#{teleVivo.extra.linha}"
                                     required="true"
                                     requiredMessage="Selecione uma linha!">
                        <f:selectItem itemLabel="Selecione" />
                        <f:selectItems value="#{teleVivo.linhasAssociados}" />
                    </h:selectOneMenu>
                    <h:message for="linha" styleClass="errorMessage"/>
                    <br />
                    <label id="ltipo" for="tipo">Tipo:</label>
                    <h:selectOneMenu id="tipo"
                                     value="#{teleVivo.extra.tipo}"
                                     required="true"
                                     requiredMessage="Selecione o tipo de lançamento!" >
                        <f:selectItem itemLabel="Acréscimo" itemValue="W" />
                        <f:selectItem itemLabel="Desconto" itemValue="Y" />
                    </h:selectOneMenu>
                    <h:message id="mtipo" for="tipo" styleClass="errorMessage" />
                    <br />
                    <label id="ldesc" for="desc">Descrição:</label>
                    <h:inputText id="desc"
                                 value="#{teleVivo.extra.descricao}"
                                 maxlength="50"
                                 required="true"
                                 requiredMessage="Digite a descrição do lançamento!"
                                 onchange="this.value = this.value.toUpperCase()"/>
                    <h:message id="mdesc" for="desc" styleClass="errorMessage" />
                    <br />
                    <label id="lvalor" for="valor">Valor:</label>
                    <h:inputText id="valor"
                                 value="#{teleVivo.extra.valor}"
                                 required="true"
                                 requiredMessage="Digite o valor do lançamento!"
                                 validatorMessage="Valor não pode ser zero!"
                                 styleClass="in160"
                                 alt="decimal">
                        <f:validateDoubleRange minimum="0.01" />
                        <f:convertNumber pattern="###0,000.00" />
                    </h:inputText>
                    <h:message id="mvalor" for="valor" styleClass="errorMessage"  />
                    <br />
                </fieldset>
                <h:commandButton value="Salvar" action="#{teleVivo.salvarLancamentoExtra}" />
                <h:commandButton value="Limpar" action="#{teleVivo.limparLancamentoExtra}" immediate="true" />
            </fieldset>
        </h:form>
    </ui:define>

</ui:composition>
