<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Desconto Telefonia
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Desconto em Telefonia
    </ui:define>

    <ui:define name="divCentro">
         <f:view>
            <h:form id="formExtras" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados</legend>
                        <label id="labelAssociado" for="associado">Associado:*</label>
                        <h:selectOneMenu id="associado"
                                         immediate="true"
                                         required="true"
                                         requiredMessage="Selecione um associado!"
                                         value="#{teleBean.associado}"
                                         valueChangeListener="#{teleBean.carregarLinhasAssociadoAFaturar}">
                            <f:converter converterId="AssConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.associados}"
                                           var="associadoSelecionado"
                                           itemLabel="#{associadoSelecionado.nome}" />
                            <f:ajax event="change" execute="@this" render="formExtras:linha formExtras:total" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociado" for="associado" errorClass="errorMessage" />
                        <br />
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleBean.detalhe}" >
                            <f:converter converterId="DetalheTelefoniaConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.detalhesAssociado}"
                                           var="linhaSelecionada"
                                           itemLabel="#{linhaSelecionada.linha}" />
                            <f:ajax render="formExtras:total formExtras:linha" />
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="ltotal" for="total">Valor a faturar:</label> <br />
                        <h:inputText id="total"
                                     readonly="true"
                                     value="#{teleBean.total}"
                                     styleClass="in160"
                                     style="text-align: right">
                            <f:convertNumber pattern="0.00" />
                        </h:inputText>
                        <br />
                        <label id="ltipo" for="tipo">Tipo:</label>
                        <h:selectOneMenu id="tipo"
                                     value="#{teleBean.extraTel.tipo}"
                                     required="true"
                                     requiredMessage="Selecione o tipo de lançamento!" >
                            <f:selectItem itemLabel="Acréscimo" itemValue="C" />
                            <f:selectItem itemLabel="Desconto" itemValue="S" />
                            <f:ajax event="change" execute="@this" />
                        </h:selectOneMenu>
                        <h:message id="mtipo" for="tipo" styleClass="errorMessage" />
                        <br />
                        <label id="ldesc" for="desc">Descrição:</label>
                        <h:inputText id="desc"
                                     value="#{teleBean.extraTel.descricao}"
                                     maxlength="50"
                                     required="true"
                                     requiredMessage="Digite a descrição do lançamento!"
                                     onchange="this.value = this.value.toUpperCase()"/>
                        <h:message id="mdesc" for="desc" styleClass="errorMessage" />
                        <br />
                        <label id="lvalor" for="valor">Valor:</label>
                        <h:inputText id="valor" 
                                     value="#{teleBean.extraTel.valor}"
                                     required="true"
                                     requiredMessage="Digite o valor do lançamento!"
                                     styleClass="in160"
                                     alt="decimal"
                                     validator="#{teleBean.validarValorDesconto}">
                            <f:convertNumber pattern="###0,000.00" />
                        </h:inputText>
                        <h:message id="mvalor" for="valor" styleClass="errorMessage"  />
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Salvar" action="#{teleBean.salvarLancamentoExtra}" />
                    <h:commandButton id="btnsair" value="Sair" action="index" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
