<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Faturar Vivo
    </ui:define>

    <ui:define name="divTitulo">
        Faturar Vivo
    </ui:define>

    <ui:define name="divCentro">
        <h:form id="formCadastro">

                <fieldset class="geral">
                    <fieldset class="interno">
                        <h3>Deseja faturar?</h3>
                        <h:commandButton id="btnSim" value="Sim" action="#{teleVivo.faturarFaturasVivo}"/>
                        <h:commandButton id="btnNao" value="Não" action="/index" immediate="true" />
                    </fieldset>
                </fieldset>
            </h:form>
    </ui:define>

</ui:composition>
