<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Linhas Vivo
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Linhas Vivo
    </ui:define>

    <ui:define name="divCentro">
        <h:form>
            <fieldset class="geral">
                <fieldset class="interno">
                    <legend>Dados</legend>
                    <label id="lnumero" for="numero">Linha:*</label>
                    <h:inputText id="numero"
                                 alt="phone"
                                 required="true"
                                 requiredMessage="Digite o número da linha!"
                                 value="#{teleVivo.linha.linha}"
                                 disabled="#{teleVivo.alteracao}"
                                 styleClass="in160">
                        <f:validateLength maximum="10" />
                        <f:converter converterId="RetiraMascaraString" />
                    </h:inputText>
                    <h:message id="mnumero" for="numero" styleClass="errorMessage" />
                    <br />
                    <label id="lcontrato" for="contrato">Contrato:*</label>
                    <h:selectOneMenu id="contrato"
                                     required="true"
                                     requiredMessage="Selecione um contrato!"
                                     value="#{teleVivo.linha.contrato}">
                        <f:selectItem itemLabel="Selecione" noSelectionOption="true" />
                        <f:selectItems var="contrato"
                                       itemLabel="#{contrato.numero}"
                                       value="#{teleVivo.contratos}"/>
                        <f:converter converterId="ContratoVivoConverter" />
                    </h:selectOneMenu>
                    <h:message id="mcontrato" for="contrato" styleClass="errorMessage" />
                    <br />
                    <label id="ltipo" for="tipo">Tipo:*</label>
                    <h:selectOneMenu id="tipo"
                                     required="true"
                                     requiredMessage="Selecione o tipo da linha!"
                                     value="#{teleVivo.linha.tipo}">
                        <f:selectItem itemLabel="Selecione" noSelectionOption="true" />
                        <f:selectItems value="#{teleVivo.tiposLinha}" />
                    </h:selectOneMenu>
                    <h:message id="mtipo" for="tipo" styleClass="errorMessage" />
                    <br />
                    <label id="lmostraLinhas" for="mostrarLinhas">Mostrar todas?</label>
                    <h:selectBooleanCheckbox id="mostrarLinhas"
                                             value="#{teleVivo.mostrarLinhas}">
                        <f:ajax event="valueChange"
                                execute="@this"
                                render="grpLinhas"/>
                    </h:selectBooleanCheckbox>
                    <br />

                    <h:panelGroup id="grpLinhas">
                        <h:dataTable id="tabelaLinhas" value="#{teleVivo.linhas}" var="linhaSel" rendered="#{teleVivo.mostrarLinhas}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerNumero" value="Número:" />
                                </f:facet>
                                <h:outputText id="valueNumero" value="#{linhaSel.linha}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerContrato" value="Contrato:"  />
                                </f:facet>
                                <h:outputText id="valueContrato" value="#{linhaSel.contrato.numero}" />
                            </h:column>
                            <h:column >
                                <f:facet name="header">
                                    <h:outputText id="headerTipo" value="Tipo:"  />
                                </f:facet>
                                <h:outputText id="valueTipo" value="#{linhaSel.tipo.toString()}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText id="headerSelecione" value="Selecione:" />
                                </f:facet>
                                <h:commandLink action="/telefonia/linhas_vivo" value="Alterar" immediate="true">
                                    <f:setPropertyActionListener value="#{linhaSel}" target="#{teleVivo.linha}" />
                                    <f:setPropertyActionListener value="#{true}" target="#{teleVivo.alteracao}" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                </fieldset>

                <h:commandButton id="salvar"
                                 action="#{teleVivo.salvarLinhaVivo}"
                                 value="Salvar" />
                <h:commandButton id="limpar"
                                 action="#{teleVivo.limparLinhaVivo}"
                                 value="Limpar"
                                 immediate="true" />
            </fieldset>
        </h:form>
    </ui:define>

</ui:composition>
