<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Planos
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Planos
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="cadastroPlanos" >
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno">
                        <legend id="internoPlanos">Dados</legend>
                        <h:inputHidden id="codigo" value="#{teleBean.plano.codigo}" />
                        <label id="labelDescricao" for="descricao">Descrição:*</label>
                        <h:inputText id="descricao"
                                     required="true"
                                     requiredMessage="Digite a descrição do plano!"
                                     validatorMessage="Digite no máximo 50 caracteres!"
                                     value="#{teleBean.plano.descricao}"
                                     onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50" />
                        </h:inputText>
                        <h:message id="messageDescricao" for="descricao" errorClass="errorMessage" />
                        <br />
                        <label id="labelTipo" for="tipo">Tipo:*</label>
                        <h:selectOneMenu id="tipo"
                                         required="true"
                                         requiredMessage="Selecione um tipo de linha!"
                                         value="#{teleBean.plano.tipo}">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.tiposLinha}" />
                        </h:selectOneMenu>
                        <h:message id="messageTipo" for="tipo" errorClass="errorMessage" />
                        <br />
                        <label id="labelAssinatura" for="assinatura">Assinatura:*</label>
                        <h:inputText id="assinatura"
                                     required="true"
                                     requiredMessage="Digite o valor da assinatura do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.assinatura}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageAssinatura" for="assinatura" styleClass="errorMessage" />
                        <br />
                        <label id="labelIntra" for="intra">Intra Grupo:*</label>
                        <h:inputText id="intra"
                                     required="true"
                                     requiredMessage="Digite o valor do intra grupo do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.intra}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageIntra" for="intra" styleClass="errorMessage" />
                        <br />
                        <label id="labelGestor" for="gestor">Gestor:*</label>
                        <h:inputText id="gestor"
                                     required="true"
                                     requiredMessage="Digite o valor do gestor do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.gestor}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageGestor" for="gestor" styleClass="errorMessage" />
                        <br />
                        <label id="labelFranquia" for="franquia">Franquia:*</label>
                        <h:inputText id="franquia"
                                     required="true"
                                     requiredMessage="Digite o valor da franquia do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.franquia}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageFranquia" for="franquia" styleClass="errorMessage" />
                        <br />
                        <label id="labelMinutos" for="minutos">Minutos:*</label>
                        <h:inputText id="minutos"
                                     required="true"
                                     requiredMessage="Digite o valor da franquia do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="integer"
                                     value="#{teleBean.plano.minutos}">
                            <f:convertNumber integerOnly="true" />
                        </h:inputText>
                        <h:message id="messageMinutos" for="minutos" styleClass="errorMessage" />
                        <br />
                        <label id="labelAdicional" for="adicional">Adicional:*</label>
                        <h:inputText id="adicional"
                                     required="true"
                                     requiredMessage="Digite o valor do minuto adicional do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.adicional}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageAdicional" for="adicional" styleClass="errorMessage" />
                        <br />
                        <label id="labelTerceiro" for="terceiro">Administração Terceiros:*</label> <br />
                        <h:inputText id="terceiro"
                                     required="true"
                                     requiredMessage="Digite o valor da assinatura do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.terceiro}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageTerceiro" for="terceiro" styleClass="errorMessage" />
                        <br />
                        <label id="labelAso" for="aso">Administração Associação:*</label> <br />
                        <h:inputText id="aso"
                                     required="true"
                                     requiredMessage="Digite o valor da assinatura do plano!"
                                     converterMessage="Valor inválido!"
                                     styleClass="in160"
                                     alt="decimal"
                                     value="#{teleBean.plano.administracao}">
                            <f:convertNumber pattern="###0.00" />
                        </h:inputText>
                        <h:message id="messageAso" for="aso" styleClass="errorMessage" />
                        <br />
                        <label id="labelCompartilho" for="compartilha">Compartilha franquia?</label> <br />
                        <h:selectBooleanCheckbox id="compartilha" value="#{teleBean.plano.compartilha}" />
                        <br />
                    </fieldset>
                    <h:commandButton id="salvar" value="Salvar" action="#{teleBean.salvarPlano}" />
                    <h:commandButton id="limpar" value="Limpar" immediate="true" action="#{teleBean.limparPlano}" />
                    <h:commandButton id="pesquisar" value="Pesquisar" immediate="true" action="alterarPlano" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
