<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Relatório de Utilização de Serviço de Telefonia
    </ui:define>

    <ui:define name="divTitulo">
        Relatório de Utilização de Serviço de Telefonia
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formReferencias" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Selecione</legend>
                        <label id="lass" for="ass">Associado:</label>
                        <h:selectOneMenu id="ass"
                                         value="#{associadoBean.associado}"
                                         required="true"
                                         requiredMessage="Selecione um associado!">
                            <f:converter converterId="AssConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.associadosNome}" var="ass" itemLabel="#{ass.nome}" />
                        </h:selectOneMenu>
                        <h:message for="ass" styleClass="errorMessage" />
                        <br />
                        <label id="lref" for="ref">Início do Período:</label><br />
                        <h:selectOneMenu id="ref"
                                         value="#{associadoBean.dataInicio}"
                                         required="true"
                                         requiredMessage="Selecione uma referência!" >
                            <f:converter converterId="DataConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.datasInicio}" var="data" itemLabel="#{data.toLocaleString()}"/>
                        </h:selectOneMenu>
                        <h:message for="ref" styleClass="errorMessage" />
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Gerar" action="#{associadoBean.relatorios}"/>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
