<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="head">
    </ui:define>

    <ui:define name="titulo">
        ABEPOMI - Cadastro de Linhas Telefônicas
    </ui:define>

    <ui:define name="divTitulo">
        Cadastro de Linhas Telefônicas
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="cadastroLinhas">
                <fieldset id="geral" class="geral">
                    <fieldset id="interno" class="interno">
                        <legend id="linhas">Dados</legend>
                        <h:messages id="geral" styleClass="errorMessage" globalOnly="true" />
                        <label id="labelNro" for="nro">Número:*</label>
                        <h:inputText id="nro"
                                     alt="phone"
                                     styleClass="in160"
                                     required="true"
                                     requiredMessage="Digite o número da linha!"
                                     validatorMessage="Digite o número com 10 digitos!"
                                     value="#{teleBean.linha.numero}">
                            <f:converter id="converterNro" converterId="RetiraMascaraString" />
                            <f:validateLength minimum="10" maximum="10" />
                        </h:inputText>
                        <h:message id="messageNro" for="nro" errorClass="errorMessage" />
                        <br />
                        <label id="labelContrato" for="contrato">Contrato:*</label>
                        <h:selectOneMenu id="contrato"
                                         required="true"
                                         requiredMessage="Selecione um contrato!"
                                         value="#{teleBean.linha.contrato}">
                            <f:converter converterId="ContratoConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.contratos}" var="contratoSel" itemLabel="#{contratoSel.numero}" />
                        </h:selectOneMenu>
                        <h:message id="messageContrato" for="contrato" errorClass="errorMessage" />
                        <br />
                        <label id="labelTipo" for="tipo">Tipo:*</label>
                        <h:selectOneMenu id="tipo"
                                         required="true"
                                         requiredMessage="Selecione um tipo de linha!"
                                         value="#{teleBean.linha.tipo}">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.tiposLinha}" />
                        </h:selectOneMenu>
                        <h:message id="messageTipo" for="tipo" errorClass="errorMessage" />
                    </fieldset>
                    <h:commandButton id="salvar" value="Salvar" action="#{teleBean.salvarLinha}" />
                    <h:commandButton id="limpar" value="Limpar" immediate="true" action="#{teleBean.limparLinha}" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
