<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="head"></ui:define>

    <ui:define name="titulo">
        ABEPOMI - Troca de Planos
    </ui:define>

    <ui:define name="divTitulo">
        Troca de Plano de Utilização de Telefonia
    </ui:define>

    <ui:define name="divCentro">
        <f:view>
            <h:form id="formExtras" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Dados</legend>
                        <label id="labelAssociado" for="associado">Associado:*</label>
                        <h:selectOneMenu id="associado"
                                         immediate="true"
                                         required="true"
                                         requiredMessage="Selecione um associado!"
                                         value="#{teleBean.associado}"
                                         valueChangeListener="#{teleBean.carregarLinhasAssociado}">
                            <f:converter converterId="AssConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.associados}"
                                           var="associadoSelecionado"
                                           itemLabel="#{associadoSelecionado.nome}" />
                            <f:ajax event="change" execute="@this" render="formExtras:linha" />
                        </h:selectOneMenu>
                        <h:message id="messageAssociado" for="associado" errorClass="errorMessage" />
                        <br />
                        <label id="labelLinha" for="linha">Linha:*</label>
                        <h:selectOneMenu id="linha"
                                         required="true"
                                         requiredMessage="Selecione uma linha!"
                                         value="#{teleBean.assLinha}">
                            <f:converter converterId="AssLinhaConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.linhasAssociados}"
                                           var="linhaSelecionada"
                                           itemLabel="#{linhaSelecionada.linha.numero}" />
                        </h:selectOneMenu>
                        <h:message id="messageLinha" for="linha" errorClass="errorMessage" />
                        <br />
                        <label id="labelPlano" for="plano">Plano:*</label>
                        <h:selectOneMenu id="plano"
                                         required="true"
                                         requiredMessage="Selecione um plano!"
                                         value="#{teleBean.assLinha.plano}">
                            <f:converter converterId="PlanoConverter" />
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{teleBean.planos}"
                                           var="planoSelecionado"
                                           itemLabel="#{planoSelecionado.descricao}"/>
                        </h:selectOneMenu>
                        <h:message id="messagePlano" for="plano" errorClass="errorMessage" />
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Salvar" action="#{teleBean.alteraPlanoLinha}" />
                    <h:commandButton id="btnsair" value="Sair" action="index" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
