<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="titulo">ABEPOMI - Cadastro de Débito Automático</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro de Débito Automático</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formDebAut" >
                <fieldset class="geral">
                    <h:commandLink value="Selecionar Associado" action="#{associadoBean.pesquisarAssociado}" immediate="true">
                        <f:setPropertyActionListener value="associadoDA" target="#{associadoBean.fromId}"/>
                    </h:commandLink>
                    <f:subview id="qdoSelecionado" rendered="#{associadoBean.associadoSelecionado}">
                        <fieldset class="interno">
                            <legend>Associado</legend>
                            <label id="lidass" for="idass">Identificação:</label>
                            <h:inputText id="idass" value="#{associadoBean.id}" readonly="true" alt="99999-A"/>
                            <label id="lnomeass" for="nomeass">Nome:</label>
                            <h:inputText id="nomeass" value="#{associadoBean.associado.nome}" readonly="true" />
                            <label id="lfpass" for="fpass">Pagamento:</label>
                            <h:inputText id="fpass" value="#{associadoBean.associado.formaPgto.pagto}" readonly="true" />
                            <br />
                            <h:commandLink value="Gerar Débito Automático" action="#{associadoBean.cadastrarDA}"  rendered="#{!associadoBean.cadastradoDA}"/>
                        </fieldset>
                        <f:subview id="debautcadastrado" rendered="#{associadoBean.cadastradoDA}">
                            <fieldset class="interno">
                                <legend>Dados Débito Automático</legend>
                                <label id="lid" for="id">Identificação:</label>
                                <h:inputText id="id" value="#{associadoBean.assDA.idenDA}" readonly="true" />
                                <br />
                                <label id="lag" for="ag">Ag. Débito:</label>
                                <h:inputText id="ag" value="#{associadoBean.assDA.agencia}" readonly="true" />
                                <br />
                                <label id="lconta" for="conta">Conta:</label>
                                <h:inputText id="conta" value="#{associadoBean.assDA.conta}" readonly="true" />
                                <br />
                                <label id="lop" for="op">Opção:</label>
                                <h:inputText id="op" value="#{associadoBean.assDA.opcao.estadoDA}" readonly="true" />
                                <br />
                                <label id="ldtop" for="dtop">Data Opção:</label>
                                <h:inputText id="dtop" value="#{associadoBean.assDA.dtOpcao}" readonly="true" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:inputText>
                                <br />
                                <h:commandLink value="Imprimir" action="#{associadoBean.imprimirDA}" />
                            </fieldset>
                        </f:subview>
                    </f:subview>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

