<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="head"></ui:define>
    <ui:define name="titulo">ABEPOMI - Cadastro de Associados</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro de Associados</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formCadastro">
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Sócio</legend>
                        <label id="linclusao" for="inclusao">Inclusão:</label>
                        <h:inputText id="inclusao" value="#{associadoBean.associado.inclusao}" styleClass="in160" alt="date" readonly="true">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <br />
                        <f:subview id="subexclusao" rendered="#{!associadoBean.associado.ativo}">
                            <label id="lexclusao" for="exclusao">Exclusão:</label>
                            <h:inputText id="exclusao" value="#{associadoBean.associado.exclusao}" styleClass="in160" alt="date" readonly="true">
                                <f:converter converterId="DataConverter" />
                            </h:inputText>
                            <br />
                        </f:subview>
                        <label id="lstatus" for="iadmissao">Status:</label>
                        <h:inputText id="status" value="#{associadoBean.associado.status.status}" styleClass="in160" readonly="true"/>
                        <br />
                        <label id="lcategoria" for="icategoria">Categoria:*</label>
                        <h:selectOneMenu id="icategoria" value="#{associadoBean.associado.categoria}" required="true" requiredMessage="Selecione uma Categoria!">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.categoria}" />
                            <f:ajax event="change" execute="@form" render="iid" />
                        </h:selectOneMenu>
                        <h:message id="mcategoria" for="icategoria" errorClass="errorMessage"/>
                        <br />
                        <label id="lpagto" for="ipagto">Forma de Pagamento:*</label><br />
                        <h:selectOneMenu id="ipagto" value="#{associadoBean.associado.formaPgto}" required="true" requiredMessage="Selecione a Forma de Pagamento!">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.pagto}" />
                        </h:selectOneMenu>
                        <h:message for="ipagto" id="mpagto" errorClass="errorMessage" />
                        <br />
                        <label id="lconveniado">Conveniado?</label>
                        <h:selectBooleanCheckbox value="#{associadoBean.associado.conveniado}" />
                    </fieldset>
                    <fieldset class ="interno">
                        <legend>Pessoal</legend>
                        <label id="lid" for="iid">Identificador:</label>
                        <h:inputText id="iid" value="#{associadoBean.id}" readonly="true" alt="99999-A"/>
                        <br />
                        <label id="lnome" for="inome">Nome:*</label>
                        <h:inputText id="inome" value="#{associadoBean.associado.nome}" required="true" requiredMessage="Digite o Nome!" onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mnome" for="inome" styleClass="errorMessage" />
                        <br />
                        <label id="lcpf" for="icpf">CPF:*</label>
                        <h:inputText id="icpf" value="#{associadoBean.associado.cpf}" required="true" requiredMessage="Digite o CPF!" alt="cpf">
                            <f:validator validatorId="ValidaCpfCnpj" />
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <h:message id="mcpf" for="icpf" styleClass="errorMessage" />
                        <br />
                        <label id="lrg" for="irg">RG:*</label>
                        <h:inputText id="irg" value="#{associadoBean.associado.rg}" required="true" requiredMessage="Digite o RG!">
                            <f:validateLength maximum="14"/>
                        </h:inputText>
                        <h:message id="mrg" for="irg" styleClass="errorMessage" />
                        <br />
                        <label id="ldtnasc" for="idtnasc">Nascimento:*</label>
                        <h:inputText id="idtnasc" value="#{associadoBean.associado.nascimento}" required="true" requiredMessage="Digite a data de nascimento!" styleClass="in160" alt="date">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message for="idtnasc" id="mdtnasc" styleClass="errorMessage" />
                        <br />
                        <label id="lsexo" for="isexo">Sexo:*</label>
                        <h:selectOneRadio id="isexo" value="#{associadoBean.associado.sexo}" styleClass="sexo" required="true" requiredMessage="Selecione o Sexo!">
                            <f:selectItems value="#{associadoBean.sexo}" />
                        </h:selectOneRadio>
                        <h:message for="isexo" id="msexo" styleClass="errorMessage" />
                        <label id="lcivil" for="icivil">Estado Civil:*</label>
                        <h:selectOneMenu id="icivil" value="#{associadoBean.associado.estado}" required="true" requiredMessage="Selecione o Estado Civil!" >
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.civil}" />
                        </h:selectOneMenu>
                        <h:message for="icivil" styleClass="errorMessage" />
                        <br />
                        <label id="lfilhos" for="ifilhos">Filhos:</label>
                        <h:inputText id="ifilhos" value="#{associadoBean.associado.qtdeFilhos}" styleClass="in160" alt="integer"/>
                        <br />
                    </fieldset>
                    <fieldset class="interno">
                        <legend>Endereço</legend>
                        <label id="llogradouro" for="ilogradouro">Logradouro:*</label>
                        <h:inputText id="ilogradouro" value="#{associadoBean.associado.endereco.logradouro}" required="true" requiredMessage="Digite o Logradouro!" onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mlogradouro" for="ilogradouro" styleClass="errorMessage" />
                        <br />
                        <label id="lcidade" for="icidade">Cidade:*</label>
                        <h:inputText id="icidade" value="#{associadoBean.associado.endereco.cidade}" required="true" requiredMessage="Digite a Cidade!" onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mcidade" for="icidade" styleClass="errorMessage" />
                        <br />
                        <label id="luf" for="iuf">Estado:*</label>
                        <h:selectOneMenu id="iuf" value="#{associadoBean.associado.endereco.uf}" required="true" requiredMessage="Selecione um Estado!">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.estados}" />
                        </h:selectOneMenu>
                        <h:message for="iuf" styleClass="errorMessage" />
                        <br />
                        <label id="lcep" for="icep">CEP:*</label>
                        <h:inputText id="icep" value="#{associadoBean.associado.endereco.cep}" required="true" requiredMessage="Digite o CEP!" styleClass="in160" alt="cep">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <h:message id="mcep" for="icep" styleClass="errorMessage"/>
                        <br />
                    </fieldset>
                    <fieldset class="interno">
                        <legend>Contato</legend>
                        <label id="ltel" for="itel" >Telefone:</label>
                        <h:inputText id="itel" value="#{associadoBean.associado.telefone}" styleClass="in160" alt="phone">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <br />
                        <label id="lcel1" for="icel1" >Celular 1:</label>
                        <h:inputText id="icel1" value="#{associadoBean.associado.celular1}" styleClass="in160" alt="phone">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <br />
                        <label id="lcel2" for="lcel2">Celular 2:</label>
                        <h:inputText id="icel2" value="#{associadoBean.associado.celular2}" styleClass="in160" alt="phone">
                            <f:converter converterId="RetiraMascaraString" />
                        </h:inputText>
                        <br />
                        <label id="lemail1" for="iemail1">Email 1:</label>
                        <h:inputText id="itel1" value="#{associadoBean.associado.email1}" onchange="this.value = this.value.toLowerCase()" >
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <br />
                        <label id="lemail2" for="iemail2">Email 2:</label>
                        <h:inputText id="itel2" value="#{associadoBean.associado.email2}" onchange="this.value = this.value.toLowerCase()">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <br />
                    </fieldset>
                    <fieldset class="interno">
                        <legend>Profissional</legend>
                        <label id="lposto" for="iposto">Posto/Graduação/Profissão:</label><br />
                        <h:inputText id="iposto" value="#{associadoBean.associado.posto}" onchange="this.value = this.value.toUpperCase();" >
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mposto" for="iposto"/>
                        <br />
                        <label id="lopm" for="iopm">OPM/Empresa:</label>
                        <h:inputText id="iopm" value="#{associadoBean.associado.opm}" onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mopm" for="iopm" />
                        <br />
                        <label id="ladmissao" for="iadmissao">Admissão:</label>
                        <h:inputText id="iadmissao" value="#{associadoBean.associado.admissao}" styleClass="in160" alt="date">
                            <f:converter converterId="DataConverter" />
                        </h:inputText>
                        <h:message id="madmissao" for="iadmissao" />
                        <br />
                        <label id="lre" for="ire">RE/Matrícula</label>
                        <h:inputText id="ire" value="#{associadoBean.associado.re}" >
                            <f:validateLength maximum="10"/>
                        </h:inputText>
                        <h:message id="mre" for="ire" />
                        <br />
                        <label id="ltelopm" for="itelopm">Telefone:</label>
                        <h:inputText id="itelopm" value="#{associadoBean.associado.telefoneOpm}" styleClass="in160" alt="phone">
                            <f:converter converterId="RetiraMascaraString"/>
                        </h:inputText>
                        <br />
                        <label id="llogradouroopm" for="ilogradouroOpm">Logradouro:</label>
                        <h:inputText id="ilogradouroOpm" value="#{associadoBean.associado.endOpm.logradouro}" onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mlogradouroopm" for="ilogradouroOpm" />
                        <br />
                        <label id="lcidadeopm" for="icidadeopm">Cidade:</label>
                        <h:inputText id="icidadeopm" value="#{associadoBean.associado.endOpm.cidade}" onchange="this.value = this.value.toUpperCase();">
                            <f:validateLength maximum="50"/>
                        </h:inputText>
                        <h:message id="mcidadeopm" for="icidadeopm" />
                        <br />
                        <label id="lufopm" for="iufopm">Estado:</label>
                        <h:selectOneMenu id="iufopm" value="#{associadoBean.associado.endOpm.uf}">
                            <f:selectItem itemLabel="Selecione" />
                            <f:selectItems value="#{associadoBean.estados}" />
                        </h:selectOneMenu>
                        <br />
                        <label id="lcepopm" for="icepopm">CEP:</label>
                        <h:inputText id="icepopm" value="#{associadoBean.associado.endOpm.cep}" styleClass="in160" alt="cep" >
                            <f:converter converterId="RetiraMascaraString"/>
                        </h:inputText>
                        <br />
                    </fieldset>
                    <h:commandButton id="btnsalvar" value="Salvar" action="#{associadoBean.salvar}" rendered="#{associadoBean.associado.ativo}"></h:commandButton>
                    <h:commandButton id="btndesativar" value="Desativar" action="#{associadoBean.desativar}" rendered="#{associadoBean.associado.salvo and associadoBean.associado.ativo}" onclick="return(confirm('Deseja realmente desativar o associado?'))"></h:commandButton>
                    <h:commandButton id="btnreativar" value="Reativar" action="#{associadoBean.reativar}" rendered="#{!associadoBean.associado.ativo and associadoBean.associado.salvo}" onclick="return(confirm('Deseja realmente reativar o associado?'))"></h:commandButton>
                    <h:commandButton id="btncancelar" value="Limpar" action="#{associadoBean.cancelar}"  immediate="true"></h:commandButton>
                    <h:commandButton id="btnpesquisar" value="Pesquisar" action="#{associadoBean.pesquisarAssociado}" immediate="true" >
                        <f:setPropertyActionListener value="cadastro" target="#{associadoBean.fromId}"/>
                    </h:commandButton>
                    <h:commandButton id="btnTermo" value="Imprimir Termo" action="#{associadoBean.imprimirTermo}" immediate="true" />
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

