<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="titulo">ABEPOMI - Cadastro de Dependentes</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro de Dependentes</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formDependentes" >
                <fieldset class="geral">
                    <h:commandLink value="Selecionar Associado" action="#{associadoBean.pesquisarAssociado}" immediate="true">
                        <f:setPropertyActionListener value="dependentes" target="#{associadoBean.fromId}"/>
                    </h:commandLink>
                    <f:subview id="qdoSelecionado" rendered="#{associadoBean.associadoSelecionado}">
                        <fieldset class="interno">
                            <legend>Associado</legend>
                            <label id="lidass" for="idass">Identificação:</label>
                            <h:inputText id="idass" value="#{associadoBean.id}" readonly="true" alt="99999-A"/>
                            <label id="lnomeass" for="nomeass">Nome:</label>
                            <h:inputText id="nomeass" value="#{associadoBean.associado.nome}" readonly="true" />
                        </fieldset>
                        <fieldset class="interno">
                            <legend>Dependente</legend>
                            <label id="lnome" for="nome">Nome:</label>
                            <h:inputText id="nome"  value="#{associadoBean.dependente.nome}" required="true" requiredMessage="Digite o Nome do Dependente!" onchange="this.value = this.value.toUpperCase();">
                                <f:validateLength maximum="50"/>
                            </h:inputText>
                            <h:message id="mnome" for="nome" styleClass="errorMessage" />
                            <br />

                            <label id="lnascimento" for="nascimento">Data de Nascimento:</label> <br />
                            <h:inputText id="nascimento" value="#{associadoBean.dependente.nascimento}" required="true" requiredMessage="Digite a Data de Nascimento do Dependente!" alt="date" styleClass="in160">
                                <f:converter converterId="DataConverter" />
                            </h:inputText>
                            <h:message id="mnascimento" for="nascimento" styleClass="errorMessage" />
                            <br />

                            <label id="lcpf" for="cpf">CPF:</label>
                            <h:inputText id="cpf"  value="#{associadoBean.dependente.cpf}" alt="cpf">
                                <f:validator validatorId="ValidaCpfCnpj" />
                                <f:converter converterId="RetiraMascaraString" />
                            </h:inputText>
                            <h:message id="mcpf" for="cpf" styleClass="errorMessage" />
                            <br />

                            <label id="lrg" for="rg">RG:</label>
                            <h:inputText id="rg" value="#{associadoBean.dependente.rg}" >
                                <f:validateLength maximum="14"/>
                            </h:inputText>
                            <h:message id="mrg" for="rg" styleClass="errorMessage" />
                            <br />

                            <label id="lparentesco" for="parentesco">Parestesco:</label>
                            <h:selectOneMenu id="parentesco" value="#{associadoBean.dependente.parentesco}" required="true" requiredMessage="Selecione o Parentesco do Dependente!">
                                <f:selectItem itemLabel="Selecione" />
                                <f:selectItems value="#{associadoBean.parentesco}" />
                            </h:selectOneMenu>
                            <h:message id="mparentesco" for="parentesco" styleClass="errorMessage" />
                            <br />

                            <h:commandLink id="incluir" action="#{associadoBean.salvarDependente}" value="Salvar" />
                        </fieldset>
                        <fieldset class="interno">
                            <legend>Dependentes Cadastrados</legend>
                            <h:dataTable id="deps" value="#{associadoBean.associado.dependentes}" var="dep" rendered="#{!associadoBean.dependentesVazio}" >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerNome" value="Nome:" styleClass="head" />
                                    </f:facet>
                                    <h:outputText id="nome" value="#{dep.nome}" styleClass="column"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerNascimento" value="Nascimento:" styleClass="head"/>
                                    </f:facet>
                                    <h:outputText id="nascimento" value="#{dep.nascimento}" styleClass="column" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerCpf" value="CPF:" styleClass="head" />
                                    </f:facet>
                                    <h:outputText id="cpf" value="#{dep.cpf}" styleClass="column" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerRg" value="RG:" styleClass="head"/>
                                    </f:facet>
                                    <h:outputText id="rg" value="#{dep.rg}" styleClass="column" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerParentesco" value="Parentesco:" styleClass="head"/>
                                    </f:facet>
                                    <h:outputText id="parentesco" value="#{dep.parentesco.parentesco}" styleClass="column" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerAcao" value="Ação:" styleClass="head"/>
                                    </f:facet>
                                    <h:commandLink id="acaoAlterar" action="#{associadoBean.alterarDependente}" value="Alterar" immediate="true" >
                                        <f:setPropertyActionListener value="#{dep}" target="#{associadoBean.dependente}"/>
                                    </h:commandLink>
                                    <!--<h:outputText value="  " />
                                    <h:commandLink id="acaoExcluir" action="" value="Excluir" immediate="true" >
                                        <f:setPropertyActionListener value="" target=""/>
                                    </h:commandLink>-->
                                </h:column>
                            </h:dataTable>
                            <h:outputText id="informe" styleClass="informe" value="Não há dependentes cadastrados!" rendered="#{associadoBean.dependentesVazio}"/>
                        </fieldset>
                    </f:subview>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

