<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="titulo">ABEPOMI - Pesquisa de Associados</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Pesquisa de Associados</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formPesquisa" >
                <fieldset class="geral">
                    <fieldset class="interno">
                        <legend>Pesquisar</legend>
                        <label id="lfiltrobusca" for="filtrobusca">Buscar por:</label>
                        <h:selectOneMenu id="filtroBusca" value="#{associadoBean.filtro}">
                            <f:selectItem id="filtrocpf" itemValue="cpf" itemLabel="CPF" />
                            <f:selectItem id="filtronome" itemValue="nome" itemLabel="Nome" />
                        </h:selectOneMenu>
                        <br />
                        <h:inputText id="ibuscar" value="#{associadoBean.busca}"/>
                        <h:commandButton id="btnbuscar" action="#{associadoBean.buscarAssociado}" value="Buscar" />
                        <h:commandButton id="btntodos" action="#{associadoBean.buscarTodosAssociados}" value="Todos" />
                    </fieldset>
                    <f:subview id="tabelavazia" rendered="#{!associadoBean.associadosVazio}">
                        <fieldset class="interno">
                            <h:dataTable id="dtpesquisa" value="#{associadoBean.associados}" var="associado">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerId" value="Id.:" />
                                    </f:facet>
                                    <h:outputText id="id" value="#{associado.id}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerNome" value="Nome:" />
                                    </f:facet>
                                    <h:outputText id="nome" value="#{associado.nome}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerCpf" value="CPF:" />
                                    </f:facet>
                                    <h:outputText id="cpf" value="#{associado.cpf}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerCategoria" value="Categoria:" />
                                    </f:facet>
                                    <h:outputText id="categoria" value="#{associado.categoria.categoria}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerStatus" value="Status:" />
                                    </f:facet>
                                    <h:outputText id="status" value="#{associado.status.status}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerSelecione" value="Selecione:" />
                                    </f:facet>
                                    <h:commandLink action="#{associadoBean.selecionarAssociado}" value="Selecionar">
                                        <f:setPropertyActionListener value="#{associado.id}" target="#{associadoBean.selecionado}" />
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                        </fieldset>
                    </f:subview>
                    <h:inputHidden value="#{associadoBean.fromId}"/>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>
