<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <ui:define name="titulo">ABEPOMI - Cadastro de Veículos</ui:define>
    <ui:define name="divTopo"></ui:define>
    <ui:define name="divTitulo">Cadastro de Veículos</ui:define>
    <ui:define name="divCentro">
        <f:view>
            <h:form id="formDependentes" >
                <fieldset class="geral">
                    <h:commandLink value="Selecionar Associado" action="#{associadoBean.pesquisarAssociado}" immediate="true">
                        <f:setPropertyActionListener value="veiculos" target="#{associadoBean.fromId}"/>
                    </h:commandLink>
                    <f:subview id="qdoSelecionado" rendered="#{associadoBean.associadoSelecionado}">
                        <fieldset class="interno">
                            <legend>Associado</legend>
                            <label id="lidass" for="idass">Identificação:</label>
                            <h:inputText id="idass" value="#{associadoBean.id}" readonly="true" alt="99999-A" />
                            <label id="lnomeass" for="nomeass">Nome:</label>
                            <h:inputText id="nomeass" value="#{associadoBean.associado.nome}" readonly="true" />
                        </fieldset>
                        <fieldset class="interno">
                            <legend>Veículo</legend>
                            <label id="lplacas" for="iplacas">Placas:*</label>
                            <h:inputText id="iplacas" value="#{associadoBean.veiculo.placas}" required="true" requiredMessage="Digite a Placa do Veículo!" alt="aaa-9999" onchange="this.value = this.value.toUpperCase();">
                                <f:converter converterId="RetiraMascaraString" />
                            </h:inputText>
                            <h:message id="mplacas" for="iplacas" styleClass="errorMessage" />
                            <br />
                            <label id="lmarca" for="imarca">Marca:*</label>
                            <h:inputText id="imarca" value="#{associadoBean.veiculo.marca}" required="true" requiredMessage="Digite a Marca do Veículo!" onchange="this.value = this.value.toUpperCase();">
                                <f:validateLength maximum="30"/>
                            </h:inputText>
                            <h:message id="mmarca" for="imarca" styleClass="errorMessage" />
                            <br />
                            <label id="lmodelo" for="imodelo">Modelo:*</label>
                            <h:inputText id="imodelo" value="#{associadoBean.veiculo.modelo}" required="true" requiredMessage="Digite o Modelo do Veículo!" onchange="this.value = this.value.toUpperCase();">
                                <f:validateLength maximum="30"/>
                            </h:inputText>
                            <h:message id="mmodelo" for="imodelo" styleClass="errorMessage" />
                            <br />
                            <h:commandLink id="incluir" action="#{associadoBean.incluirVeiculo}" value="Salvar" />
                        </fieldset>
                        <fieldset class="interno">
                            <legend>Veículos Cadastrados</legend>
                            <h:dataTable id="veiculos" value="#{associadoBean.associado.veiculos}" var="vei" rendered="#{!associadoBean.veiculosVazio}">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerPlacas" value="Placas:" styleClass="head" />
                                    </f:facet>
                                    <h:outputText id="placas" value="#{vei.placas}" styleClass="column"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerMarca" value="Marca:" styleClass="head"/>
                                    </f:facet>
                                    <h:outputText id="marca" value="#{vei.marca}" styleClass="column" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerModelo" value="Modelo:" styleClass="head"/>
                                    </f:facet>
                                    <h:outputText id="modelo" value="#{vei.modelo}" styleClass="column" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText id="headerAcao" value="Ação:" styleClass="head"/>
                                    </f:facet>
                                    <h:commandLink id="acaoAlterar" action="#{associadoBean.alterarVeiculo}" value="Alterar" immediate="true" >
                                        <f:setPropertyActionListener value="#{vei}" target="#{associadoBean.veiculo}"/>
                                    </h:commandLink>
                                    <h:outputText value=" / " />
                                    <h:commandLink id="acaoExcluir" action="#{associadoBean.excluirVeiculo}" value="Excluir" immediate="true" >
                                        <f:setPropertyActionListener value="#{vei}" target="#{associadoBean.veiculo}"/>
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                            <h:outputText id="informe" styleClass="informe" value="Não há veículos cadastrados!" rendered="#{associadoBean.veiculosVazio}"/>
                        </fieldset>
                    </f:subview>
                </fieldset>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>



