<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="titulo">ABEPOMI - Falha</ui:define>
    <ui:define name="divCentro">
        <fieldset class="geral">
                <h:form id="formFalha">
                    <h3>Ocorreu uma falha na execução!</h3>
                <br />
                <h:messages id="mensagens" styleClass="errorMessage" layout="table"/>
                <br />
                <h:commandLink action="index" value="Página inicial" />
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>