<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <f:view>
        <f:metadata>
            <f:viewParam name="rel"
                         value="#{getBean.rel}"
                         validatorMessage="Nº de relatório inválido!"
                         converterMessage="Relatório não numérico!" >
                <f:convertNumber integerOnly="true" />
                <f:validateLongRange minimum="0" maximum="3" />
            </f:viewParam>
            <f:viewParam name="ass"
                         value="#{getBean.ass}"
                         required="true"
                         requiredMessage="Número do associado não informado!" />
            <f:viewParam name="cpf"
                         value="#{getBean.cpf}"
                         required="true"
                         requiredMessage="CPF não informado!" />
            <f:viewParam name="ref"
                         value="#{getBean.ref}"
                         required="true"
                         requiredMessage="Referência não informada!" />
            <f:viewParam name="ran"
                         value="#{getBean.ran}"
                         required="true"
                         requiredMessage="Código RAN não informado!" />
            <f:viewParam name="has"
                         value="#{getBean.has}"
                         required="true"
                         requiredMessage="Hash não informado!"
                         validator="#{getBean.validarHash}" />
            <f:event listener="#{getBean.preRenderView}" type="preRenderView" />
        </f:metadata>

        <h:head>
            <h:outputStylesheet library="css" name="template.css" />
            <title>ABEPOMI - Documentos Associados</title>
        </h:head>

        <h:body>
            <h:form id="formulario">
                <div id="tela">
                    <div id="topoAssociado">
                    </div>
                    <div id="divLogin">
                        <h:messages id="mensagens" styleClass="errorMessageAss" />
                        <br />
                        <h3><h:outputText value="Bem vindo(a), Sr(a) #{getBean.associado.nome}!" /></h3>
                        <fieldset id="interno" class="interno">
                            <legend id="docs" >Documentos disponíveis para a referência #{getBean.referencia.ref}:</legend>
                            <h:dataTable id="tabela" value="#{getBean.links}" var="link" styleClass="tabelaAss">
                                <h:column>
                                    <h:button outcome="faturaweb"
                                              includeViewParams="true"
                                              value="#{link[0]}"
                                              styleClass="botoesRelatorios" >
                                        <f:param name="rel" value="#{link[1]}" />
                                    </h:button>
                                </h:column>
                                <br />
                            </h:dataTable>
                        </fieldset>
                    </div>
                    <div id="rodape">
                        <br />
                        <p><strong>Este site é melhor visualizado no Mozilla Firefox.</strong></p>
                    </div>
                </div>
            </h:form>
        </h:body>
    </f:view>

</html>


