<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="template.css" />
        <title>Login ABEPOMI</title>
    </h:head>
    <h:body>
        <div id="tela">
            <div id="topo">
            </div>
            <div id="divLogin">
                <fieldset class="interno">
                    <legend>Autenticação</legend>
                    <h:form id="principal">
                        <label id="llogin" for="login">Login:*</label> <br />
                        <h:inputText id="login" value="#{userBean.user.login}" required="true" requiredMessage="Digite o login!" styleClass="in160"/>
                        <br />
                        <h:message id="mlogin" for="login" styleClass="errorMessage" />
                        
                        <label id="lsenha" for="senha">Senha:*</label> <br />
                        <h:inputSecret id="senha" value="#{userBean.user.senha}" required="true" requiredMessage="Digite a senha!" styleClass="in160" />
                        <br />
                        <h:message id="msenha" for="senha" styleClass="errorMessage" />
                        <h:messages for="principal" styleClass="errorMessage" layout="list"/>
                        
                        <h:commandLink id="entrar" action="#{userBean.login}" value="Entrar" />
                        <br />
                        
                    </h:form>
                </fieldset>
            </div>
            <div id="rodape">
                <br />
                <p>Este site é melhor visualizado no Mozilla Firefox.</p>
                <p><strong>Construído por Julianno Martins Silva.</strong></p>
            </div>
        </div>
    </h:body>
</html>

